<div class="rosa-modal">
    <div class="rosa-modal__content">
        <h3>Подтверждение номера телефона</h3>
        <p>Введите код из смс, отправленный на номер {{phoneNumber | async | phoneFormatter}} Если ваш номер указан неверно, то вы можете
            <button class="link-button" rosaButton="link" (click)="changeNumber()">изменить номер</button>
        </p>
        <form [formGroup]="codeForm">
            <rosa-code-container class="offset-bottom-7 offset-top-7">
                <input class="rosa-code_input" autofocus rosaCode pattern="\d*" type="text" mask="0 0 0 0" [formControl]="codeForm.controls['code']" autofocus>
                <rosa-control-error>Неправильный код</rosa-control-error>
            </rosa-code-container>
        </form>
        <p *ngIf="subscribeTimer != 0">Повторить отправку смс через {{subscribeTimer}} сек.</p>

        <p *ngIf="subscribeTimer === 0">Не получили код? <button class="link-button" rosaButton="link" (click)="sendOtp()">Выслать заново</button></p>
    </div>
</div>