@import 'variables';
@import 'mixins';
.rosa-modal {
    width: 628px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(40, 36, 35, .1);
    @include tablet {
        overflow: scroll;
        height: 100%;
    }
    @include phablet {
        overflow: scroll;
        height: 100%;
    }
    @include mobile {
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow: scroll;
    }
    p {
        letter-spacing: 0;
    }
    &::-webkit-scrollbar {
        width: 0 !important;
        background: transparent;
        display: none;
    }
}

.rosa-modal__content {
    padding: 100px 100px 80px;
    text-align: center;
    @include mobile {
        width: 100%;
        padding: 40px calc(0.1 * 100vw);
        margin: 0 auto;
        margin: auto 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

rosa-code-container {
    @include mobile {
        margin-top: 60px;
    }
}

.link-button {
    font-size: 14px;
    line-height: 21px;
    padding: 0;
}