<div class="rosa-control-container">
  <div class="rosa-radio-wrapper">
    <ng-content select="[rosaRadio]"></ng-content>
    <ng-content select="label"></ng-content><label *ngIf="!label"></label>
  </div>
  <div class="rosa-radio__description">
    <ng-content select="span"></ng-content>
  </div>
</div>
