:host {
  display: block;
}
.document {
  display: flex;
}
.document__icon {
  margin-top: 2px;
}
.document__text {
  padding-left: 19px;
}
.document__link {
  color: #282423;
  margin-bottom: 2px;
}

.document-description {
  display: flex;
}
.document__info {
  letter-spacing: 0.32px;
  font-size: 10px;
  line-height: 15px;
  color: #807d7d;
}
.document__padding {
  padding-right: 20px;
}
