<div class="rosa-modal">
    <div class="rosa-modal__content">
        <h3>Ваша заявка принята</h3>
        <p>О результате рассмотрения заявки мы проинформируем вас по указанному вами номеру</p>
        <div class="controls offset-top-5">
            <button type="button" rosaButton (click)="toHomePage()">На главную Росбанк</button>
        </div>
    </div>
</div>