<div class="rosa-select_container" [ngClass]="isOpen()">
    <div class="select-control">
        <div class="select-control_wrapper" (click)="toggleDropdown()">
            <div class="select_placeholder" *ngIf="!value">{{placeholder}}</div>
            <div class="select_value" #selectValue>{{value}}</div>
            <div class="select_icon">
                <rosa-icon-dropdown></rosa-icon-dropdown>
            </div>
        </div>
        <div class="select-options">
            <ng-content></ng-content>
        </div>
    </div>
</div>