.select-control {
    position: relative;
}

.select-control_wrapper {
    position: relative;
    border: 0;
    background: 0 0;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: none!important;
    overflow: visible;
    height: auto;
    padding-bottom: 15px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: var(--textColor, #282423);
        z-index: 1;
    }
}

.select_value {
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
    top: auto;
    z-index: 2;
}

.select_placeholder {
    padding-left: 0;
    font-size: 18px;
    line-height: 24px;
    top: auto;
    z-index: 2;
    color: var(--color-steel);
}

.select-options {
    visibility: hidden;
    display: block;
    background-color: #fff;
    /* max-height: 122px; */
    overflow-y: scroll;
    height: auto;
    min-height: 120px;
    max-height: 200px;
    position: absolute;
    width: calc(100% + 40px);
    top: calc(100% + 35px);
    border: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 10%);
    margin: 0 -20px;
    z-index: 100 !important;
    border-bottom: 20px solid #FFF;
    &::-webkit-scrollbar {
        width: 0!important;
        background: transparent;
        display: none;
    }
}

.select_icon {
    position: absolute;
    right: 5px;
    top: 4px;
    will-change: transform;
    transform-origin: 50% 50%;
    transform: none;
    transition: all .15s linear;
}

.select__open {
    visibility: visible;
    .select-options {
        visibility: visible;
    }
    .select_icon {
        top: 0;
        transform: rotate(-180deg);
    }
}