@import 'variables.scss';
@import 'mixins.scss';
.form__amount {
  label {
    margin-bottom: 12px;
  }
}
.rosa-sidebar {
  width: 100%;
  min-height: 400px;
  background-color: $color-gray-03;
  padding: 60px 40px;
  @include mobile {
    width: 100vw;
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
.rosa-label {
  display: block;
}
.rosa-sidebar__docs {
}
.rosa-sidebar__doc:not(:last-child) {
  margin-bottom: 40px;
}
.rosa-summary__content {
  margin-top: 60px;
  @include mobile {
    margin-top: 0;
    width: 100%;
  }
}
