<div class="content-wrapper offset-top-2 offset-bottom-1">
  <div class="rosa-grid-x">
    <div class="rosa-grid-x__offset offset-bottom-5">
      <div class="button_back">
        <rosa-icon-arrow [fill]="'#282423'" on-click="routeBack()"></rosa-icon-arrow>
      </div>
      <div class="rosa-grid__row">
        <div class="rosa-col-lg-4 rosa-col-sm-4">
          <h1>Подтверждение выбранных параметров</h1>
        </div>
      </div>
    </div>
    <div class="rosa-grid-x__offset">
      <div class="rosa-grid__row ">
        <div class="rosa-col-lg-4 rosa-col-sm-2 rosa-summary__content">
          <section class="form-group offset-bottom-5 form__amount">
            <label class="rosa-label">Выбрана страховка</label>
            <span class="numbers">Оптимум</span>
          </section>
          <section class="form-group offset-bottom-5 form__amount">
            <label class="rosa-label">Страховая сумма</label>
            <span class="numbers">1000 ₽</span>
          </section>
          <section class="form-group offset-bottom-5 form__amount">
            <label class="rosa-label">Срок страхования</label>
            <span class="numbers">1 год</span>
          </section>
          <section class="form-group offset-bottom-5 form__amount">
            <label class="rosa-label">Стоимость страхования</label>
            <span class="numbers">500 ₽</span>
          </section>

        </div>
        <div class="rosa-col-lg-2 rosa-col-sm-2  row__mobile-fullwidth">
          <div class="rosa-sidebar">
            <label class="rosa-label">Cчет оплаты страхования</label>
            <h3>1234567890127865</h3>
            <p class="rosa-label_amount">30 000,00 RUB</p>
            <div class="rosa-sidebar__docs offset-top-1">
              <div *ngFor="let doc of docs" class="rosa-sidebar__doc">
                <rosa-document [document]="doc"></rosa-document>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rosa-col-lg-4 rosa-col-sm-2">
        <section class="form-group ">
          <section class="form-group offset-bottom-5">
            <p class="disclaimer">
              Нажимая «Подтвердить» я соглашаюсь c
              <a href="#">Правилами страхования</a>
            </p>
          </section>
          <button type="button" rosaButton on-click="approve()">
            Подтвердить
          </button>
        </section>
      </div>
    </div>
  </div>
</div>