<div class="datepicker">
    <div class="datepicker__header">
        <div class="datepicker__month">{{monthLabel}} {{year}}</div>
        <div *ngIf="monthControls" class="datepicker__month-controls"><button class="datepicker__control"
                (click)="previousMonth()">
                <rosa-icon-prev></rosa-icon-prev>
            </button><button class="datepicker__control" (click)="nextMonth()">
                <rosa-icon-next></rosa-icon-next>
            </button></div>
    </div>
    <div class="datepicker__dates">
        <ul class="datepicker__weekdays-list weekdays__list">
            <li class="datepicker__weekday day">пн</li>
            <li class="datepicker__weekday day">вт</li>
            <li class="datepicker__weekday day">ср</li>
            <li class="datepicker__weekday day">чт</li>
            <li class="datepicker__weekday day">пт</li>
            <li class="datepicker__weekday day">сб</li>
            <li class="datepicker__weekday day">вс</li>
        </ul>
        <ul class="days__list">
            <li class="day" *ngFor="let day of days"><button [disabled]="!isDayAvailable(day) "
                    class="datepicker__day-button" [ngClass]="dayClass(day.date)"
                    (click)="setSelected(day)">{{day.date | date: 'd'}}</button></li>
        </ul>
    </div>
</div>