.datepicker {
    width: 395px;
    height: 390px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 35px;
    @media (max-width: 575.98px) {
        padding: 16px 8px;
        width: 288px;
        height: 340px;
    }
}

.datepicker__header {
    display: flex;
    justify-content: space-between;
}

.datepicker__month {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1.1px;
    font-weight: 500;
    color: #e60028;
    text-transform: uppercase;
    .datepicker__control::first-child {
        margin-right: 5px;
    }
    @media (max-width: 575.98px) {
        padding-left: 3%;
    }
}

.datepicker__month-controls {
    display: flex;
}

.datepicker__control {
    width: 24px;
    height: 24px;
    background-color: #FFF;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
}

.datepicker__dates {
    margin-top: 30px;
}

.datepicker__weekdays-list {
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #E6E6E6;
    padding: 0 10px 8px 10px;
}

.datepicker__weekday {
    display: inline-block !important;
    text-align: center !important;
    font-size: 9px;
    letter-spacing: .9px;
    line-height: 1.7778;
    font-weight: 600;
    color: #807d7d;
    text-transform: uppercase;
}

.weekdays__list {
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-gap: 10px;
    @media (max-width: 575.98px) {
        grid-gap: 1%;
        grid-template-columns: repeat(7, 36px);
        padding: 0 0 8px 0;
    }
}

.days__list {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-gap: 10px;
    @media (max-width: 575.98px) {
        grid-gap: 1%;
        grid-template-columns: repeat(7, 36px);
        padding: 10px 0;
        grid-row-gap: 5%;
    }
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-left: 0;
}

.datepicker__day {
    font-size: 14px;
    letter-spacing: .9px;
    line-height: 1.5;
    font-weight: 400;
}

.datepicker__day-button {
    height: 35px;
    width: 35px;
    user-select: none;
    cursor: pointer;
    background-color: #FFF;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    font-family: Muller;
    font-size: 14px;
    letter-spacing: .9px;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 50%;
    border: 1px solid rgba(230, 0, 40, 0);
    transition: all linear .15s;
    &:hover {
        border: 1px solid rgba(230, 0, 40, 1);
    }
    @media (max-width: 575.98px) {
        width: 36px;
        height: 36px;
    }
}

.datepicker__day-button:disabled {
    color: #e6e6e6;
    cursor: not-allowed;
    &:hover {
        border: none !important;
    }
}

.day_today {
    background-color: #f2f2f2;
}

.day_selected {
    background-color: rgba(230, 0, 40, 1);
    color: #FFF !important;
}

.day_notsame {
    color: #807d7d;
}