@import 'variables';
@import 'mixins';
.card-info {
    width: 100%;
    position: relative;
}

#map {
    filter: grayscale(100%);
}
#map * {
    touch-action: auto
  }
[class*="ymaps-2-1-74"][class*="-ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter:grayscale(100%);
}
[class*="ymaps"][class*="-ground-pane"] {
    filter: grayscale(100%);
}

.baloon__close {
    position: absolute;
    width: 36px;
    right: -30px;
    top: -30px;
    padding: 10px;
    cursor: pointer;
}

.baloon__header {}

.baloon-content {
    position: relative;
}

.baloon {
    position: absolute;
    top: calc(50% - 200px);
    left: 50%;
    transform: translate(56px, 0%);
    width: 460px;
    background-color: #FFF;
    z-index: 100;
    padding: 50px 47px 50px 39px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    max-height: calc(100% + 50px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s ease-in;
    @include tablet {
        transform: translate(-50%, 0%);
        top: 136px;
    }
    @include display {
        transform: translate(32px, 0%);
    }
    @include mobile {
        max-width: 100vw;
        top: 50%;
        transform: translate(-50.2%, 71px);
    }
}

.baloon_open {
    opacity: 1;
    pointer-events: auto;
}

.branch__name {
    line-height: 33px;
    font-size: 26px;
    margin-bottom: 20px;
}

.branch__details {
    margin-bottom: 20px;
}

.branch__address {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    svg {
        margin-right: 10px;
    }
}

.branch__info {
    display: flex;
    align-items: baseline;
    p {
        margin-right: 10px;
        text-transform: lowercase;
    }
}

.link-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 20px;
    margin-left: 14px;
    transform: translateX(0);
    transition: transform .2s cubic-bezier(.25, .46, .45, .94);
}

.map-placeholder {
    height: 660px;
    background-color: var(--color-asbestos);
    position: relative;
    @include display {
        height: 70vh;
        max-height: 750px;
    }
    @include tablet {
        height: 70vh;
        max-height: 750px;
        margin-bottom: 0;
    }
    @include mobile {
        height: 540px;
        margin-bottom: 0;
    }
}

#map {
    width: 100%;
    height: 100%;
    z-index: 50;
}

.icon-pin {
    margin-right: 8px;
}

.zoom {
    width: 60px;
    height: 60px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15), 0 2px 5px -3px rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
}

.zoom-controls {
    width: 60px;
    position: absolute;
    left: 0;
    bottom: 30px;
    position: absolute;
    z-index: 100;
    @include display {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.gray-panel {
    background-color: #f2f2f2;
    .rosa-button_link {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    .checkbox-group_column {
        label {
            font-size: 14px;
            line-height: 24px;
            color: #807d7d;
            font-weight: 400;
        }
    }
}

.disclaimer-container {
    display: flex;
    align-items: flex-start;
    rosa-icon-info {
        margin-right: 10px;
    }
}

.disclaimer {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .02em;
    color: var(--color-steel);
}

.map-options {
    width: 100%;
    height: 188px;
    background-color: #282423;
    margin-bottom: 25px;
}

.content-wrapper {
    @include tablet {
        margin-bottom: 0 !important;
    }
    @include mobile {
        margin-bottom: 0 !important;
    }
}

.doc-link{
    display: inline-block;
    margin-top: 4px;
}

.form-errors{
    margin-top: 16px;
}

.office-form_controls{
    display: block;

    @include desktop {
        display: flex;
        align-items: flex-start;
    }
}
.office-form_datepicker{
    @include desktop {
        width: 420px;
        margin-right: 110px;
    }
}
.button-group{
    margin-top: 60px;
    @include desktop {
        margin-top: 15px;
    }
    @include mobile{
        margin-top: 40px;
    }
}

.datepicker_group{
    @include mobile {
        padding-top: 120px;
    }
}