<div class="load-blocker" [ngClass]="{'load-blocker__loading': isLoading}"></div>
<div class="content-wrapper offset-top-2 offset-bottom-1">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset offset-bottom-3">
            <div class="button_back">
                <rosa-icon-arrow [fill]="'#282423'" on-click="routeBack()"></rosa-icon-arrow>
            </div>
            <div class="rosa-grid__row">
                <div class="rosa-col-lg-3 rosa-col-sm-4">
                    <h1>Назначение встречи</h1>
                    <p>Выберите дату и офис где вы заберете карту</p>

                </div>
            </div>
        </div>
        <div class="rosa-grid__row row__mobile-fullwidth map-placeholder offset-bottom-1" #mapZone>
            <div class="zoom-controls">
                <div class="zoom" (click)="changeZoom('in')">
                    <rosa-icon-zoom-in></rosa-icon-zoom-in>
                </div>
                <div class="zoom" (click)="changeZoom('out')">
                    <rosa-icon-zoom-out></rosa-icon-zoom-out>
                </div>
            </div>
            <div class="baloon" #baloon>
                <div class="baloon-content" *ngIf="(office$ | async) as office">
                    <div class="baloon__header">
                        <div class="baloon__close" (click)="closeBaloon()" id="baloonClose">
                            <rosa-icon-close></rosa-icon-close>
                        </div>
                    </div>
                    <h3 class="branch__name">{{office.name | trimmer}}</h3>
                    <div class="branch__details">
                        <div class="branch__address">
                            <rosa-icon-pin class="icon-pin"></rosa-icon-pin>
                            <p>{{office.address}}</p>
                        </div>
                        <div class="branch__info" *ngFor="let schedule of office.schedule">
                            <p>{{schedule.days}}</p>
                            <p>{{schedule.hours}}</p>
                        </div>
                    </div>
                    <button type="button" #baloonButton on-click="setOffice()" rosaButton>Выбрать офис</button>
                </div>
            </div>
            <div id="map"></div>
        </div>
        <div class="rosa-grid__row row__mobile-fullwidth gray-panel datepicker_group" #datepickerZone>
            <div class="rosa-grid-x__offset rosa-grid-x__offset__mobile-paddings">
                <div class="rosa-col-lg-6 rosa-col-sm-4 rosa-col-xs-4">
                    <div class="rosa-grid__row offset-top-2 offset-bottom-2 row__justify">
                        <div class="rosa-col-lg-4 rosa-col-sm-3">
                            <h2>Укажите дату визита</h2>
                            <p>Назначьте встречу в течении 10 дней</p>
                            <form class="offset-top-4" [formGroup]="officeForm">
                                <div class="office-form_controls">
                                    <div class="office-form_datepicker">
                                        <section class="form-group">
                                            <rosa-datepicker-container>
                                                <label for="datefield">Дата визита</label>
                                                <input type="text" readonly rosaInput [rosaDatepicker]="datepicker"
                                                    [formControl]="officeForm.controls['visitDate']" id="datefield"
                                                    mask="00/00/0000" />
                                                <rosa-datepicker #datepicker="rosaDatepicker" [availableInterval]="11"
                                                    [monthControls]="false" [isWeekendAvailable]="isWeekendAvailable">
                                                </rosa-datepicker>
                                            </rosa-datepicker-container>
                                        </section>
                                        <section class="form-group offset-top-5 disclaimer-container">
                                            <rosa-icon-info></rosa-icon-info>
                                            <p class="disclaimer">Обратите внимание что не все офисы работают в выходные
                                                дни </p>
                                        </section>
                                    </div>
                                    <section class="button-group">
                                        <button type="button" rosaButton (click)="handleForm()" #sendButton>Назначить
                                            встречу</button>
                                    </section>
                                </div>

                                <section class="button-group offset-top-3">
                                    <div class="form-errors">
                                        <rosa-control-error *ngIf="!this.officeForm.valid">Чтобы продолжить необходимо:
                                        </rosa-control-error>
                                        <rosa-control-error *ngIf="!this.officeForm.controls['visitBranch'].valid">
                                            Выбрать офис </rosa-control-error>
                                        <rosa-control-error *ngIf="!this.officeForm.controls['visitDate'].valid">Указать
                                            дату встречи </rosa-control-error>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<section class="form-group offset-bottom-5"><span>{{officeForm.value | json}}</span></section>-->
</div>