<div class="content-wrapper">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset">
            <div class="rosa-grid__row">
                <div class="rosa-col-lg-3 rosa-col-sm-2 rosa-col-xs-1">
                    <div class="stack">
                        <form [formGroup]="rosaForm">
                            <section class="form-group">
                                <rosa-input-container><label>Укажите ваши ФИО</label><input type="text" rosaInput="rosaInput" [formControl]="rosaForm.controls['name']" />
                                    <rosa-control-error>Введите правильное название</rosa-control-error>
                                    <rosa-control-helper>Начните вводить название организации</rosa-control-helper>
                                </rosa-input-container>
                            </section>
                            <section class="form-group">
                                <rosa-autocomplete-container><label>Место работы</label><input type="text" rosaInput="rosaInput" [formControl]="rosaForm.controls['work']" [rosaAutocomplete]="autocomplete" />
                                    <rosa-control-error>Введите правильное название</rosa-control-error>
                                    <rosa-control-helper>Начните вводить название организации</rosa-control-helper>
                                </rosa-autocomplete-container>
                                <rosa-autocomplete #autocomplete="rosaAutocomplete">
                                    <ng-template rosaAutocompleteContent="rosaAutocompleteContent">
                                        <ng-container *ngIf="(options | filter: rosaForm.get('work').value) as result">
                                            <rosa-option *ngFor="let option of result" [value]="option.label">{{ option.label }}</rosa-option>
                                            <rosa-option class="no-result" *ngIf="!result.length">No result...</rosa-option>
                                        </ng-container>
                                    </ng-template>
                                </rosa-autocomplete>
                            </section>
                            <section class="form-group">
                                <rosa-select-container><label>Тип работы</label>
                                    <rosa-select [formControl]="rosaForm.controls['type']">
                                        <rosa-option *ngFor="let option of options" [value]="option.label">{{ option.label }}</rosa-option>
                                    </rosa-select>
                                    <rosa-control-helper>Начните вводить название организации</rosa-control-helper>
                                    <rosa-control-error>Выберите из списка</rosa-control-error>
                                </rosa-select-container>
                            </section>
                            <section class="form-group">
                                <rosa-phone-container><label>Номер телефона</label><input class="phone_input" type="text" rosaPhone="rosaPhone" [formControl]="rosaForm.controls['phone']" mask="000 000 00 00" />
                                    <rosa-control-error>Введите номер телефона</rosa-control-error>
                                </rosa-phone-container>
                            </section>
                            <section class="form-group radio-form-group"><label class="radio-form-group__label">Являетесь ли вы гражданином другой страны</label>
                                <div class="radio-group_column">
                                    <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="radio1" formControlName="segment" name="segment" value="micro" checked="checked" /><label for="radio1">Являюсь</label></rosa-radio-container>
                                    <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="radio2" formControlName="segment" name="segment" value="small" /><label for="radio2">Не являюсь</label></rosa-radio-container>
                                </div>
                            </section>
                            <section class="form-group checkbox-form-group"><label class="checkbox-form-group__label">Являетесь ли вы гражданином другой страны</label>
                                <div class="checkbox-group_column">
                                    <rosa-checkbox-container><input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="rosaForm.controls['disclamer']" id="checkbox1" name="disclamer" value="micro" checked="checked" /><label for="checkbox1" rosaCheckboxLabel="rosaCheckboxLabel">Являюсь</label></rosa-checkbox-container>
                                </div>
                            </section>
                            <section class="form-group">
                                <rosa-datepicker></rosa-datepicker>
                            </section>
                            <section class="form-group">
                                <rosa-datepicker-container><label>Дата визита</label><input type="text" readonly="readonly" rosaInput="rosaInput" [rosaDatepicker]="datepicker" [formControl]="rosaForm.controls['date']" />
                                    <rosa-datepicker #datepicker="rosaDatepicker"></rosa-datepicker>
                                </rosa-datepicker-container>
                            </section>
                            <section class="form-group"><span>{{rosaForm.value | json}}</span></section>
                        </form><button type="button" rosaButton="rosaButton">Отправить форму</button></div>
                </div>
            </div>
        </div>
    </div>
</div>