.wrapper {
    width: 650px;
    margin-left: 15%;
    margin-top: 200px;
}

.form-group {
    margin-bottom: 50px;
}

.content-wrapper {
    margin-top: 200px;
}

.stack {
    padding-bottom: 120px;
}

.radio-group_column ::ng-deep {
    rosa-radio-container {
        margin-bottom: 30px;
    }
}

.radio-group_row {
    display: flex;
     ::ng-deep rosa-radio-container {
        margin-right: 30px;
    }
}

.radio-form-group__label,
.checkbox-form-group__label {
    margin-bottom: 20px;
}