<div class="rosa-modal">
    <div class="rosa-modal__content">
        <h3>Продолжить заполнение заявки</h3>
        <p>Вы уже начинали заполнять заявку на получение дебетовой карты ранее. Хотите продолжить с места на котором остановились?</p>
        <div class="controls offset-top-5">
            <button type="button" rosaButton (click)="continue()" class="button_continue">Продолжить</button>
            <button type="button" rosaButton="tertiary" (click)="close()" class="button_create">Создать новую</button>
        </div>
    </div>
</div>