@import 'variables';
@import 'mixins';
.rosa-button_primary {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 54px;
    background: 0 0;
    border: none;
    outline: 0;
    border-radius: 27px;
    cursor: pointer;
    overflow: hidden;
    padding: 2px 32px 0 33px;
    transform: translateZ(0);
    transition: background .2s cubic-bezier(.25, .46, .45, .94);
    z-index: 1;
    user-select: none;
    .rosa-button__overlay {
        &::before {
            background-color: #e60028;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 27px;
        border: 2px solid #e60028;
        transition: border-color .2s cubic-bezier(.25, .46, .45, .94);
        content: '';
    }
    &:hover {
        .rosa-button__overlay::before {
            transform: skew(-45deg) translateX(0);
        }
        .rosa-button__text {
            color: #FFF;
        }
    }
}

.rosa-button_secondary {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 54px;
    background: 0 0;
    border: none;
    outline: 0;
    border-radius: 27px;
    cursor: pointer;
    overflow: hidden;
    padding: 2px 32px 0 33px;
    transform: translateZ(0);
    transition: background .2s cubic-bezier(.25, .46, .45, .94);
    z-index: 1;
    user-select: none;
    .rosa-button__overlay {
        &::before {
            background-color: #282423;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 27px;
        border: 2px solid #282423;
        transition: border-color .2s cubic-bezier(.25, .46, .45, .94);
        content: '';
    }
    &:hover {
        .rosa-button__overlay::before {
            transform: skew(-45deg) translateX(0);
        }
        .rosa-button__text {
            color: #FFF;
        }
    }
}

.rosa-button_active {
    .rosa-button__overlay::before {
        transform: skew(-45deg) translateX(0);
    }
    .rosa-button__text {
        color: #FFF;
    }
}

.rosa-button_tertiary {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 54px;
    background: 0 0;
    border: none;
    outline: 0;
    border-radius: 27px;
    cursor: pointer;
    overflow: hidden;
    padding: 2px 32px 0 33px;
    transform: translateZ(0);
    transition: background .2s cubic-bezier(.25, .46, .45, .94);
    z-index: 1;
    user-select: none;
    .rosa-button__overlay {
        &::before {
            display: none;
        }
    }
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 27px;
        border: 2px solid #fff;
        transition: border-color .2s cubic-bezier(.25, .46, .45, .94);
        content: '';
    }
    &:hover {
        .rosa-button__text {
            color: #282423;
        }
    }
    .rosa-button__text {
        color: #807d7d;
    }
}

.rosa-button__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 54px);
        height: 100%;
        background-color: #e60028;
        transform: skew(-45deg) translateX(-100%);
        transform-origin: 0 0;
        transition: transform .2s ease-out;
        pointer-events: none;
        will-change: transform;
        z-index: 2;
        content: '';
    }
}

.rosa-button__text {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Muller';
    text-decoration: none;
    color: #282423;
    letter-spacing: 0.02em;
    transition: color .1s ease-out, transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}

.rosa-button_link {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Muller';
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color .1s ease-out, transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
    color: #e60028;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
}

.button-group {
    button:first-child {
        margin-right: 30px;
    }
}


.rosa-button__alt{
    @include button-reset;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 13px;
    padding: 12px 16px 9px;
    font-weight: 500;
    border: 2px solid $color-main;
    color: $color-text;
    border-radius: 18px;
    user-select: none;
    white-space: nowrap;
    &:hover{
        transition: all .1s ease-out;
        background-color: $color-main;
        color:#FFF;
    }
}

.rosa-button__spinner{
    opacity: 0;
    pointer-events: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid #ffffff;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
.rosa-button_loading{
    .rosa-button__spinner{
        opacity: 1;
    }
    .rosa-button__overlay::before {
        transform: skew(-45deg) translateX(0);
    }
    .rosa-button__text {
        visibility: hidden;
    }
}
.rosa-button__complete-icon{
    position: absolute;
    opacity: 0;
    z-index: 4;
    pointer-events: none;
    display: block;
}

.rosa-button_complete{
    .rosa-button__spinner{
        opacity: 0;
    }
    .rosa-button__complete-icon{
        opacity: 1;
    }
    .rosa-button__overlay::before {
        transform: skew(-45deg) translateX(0);
    }
    .rosa-button__text {
        visibility: hidden;
    }
}