@import 'variables';
@import 'mixins';
.rosa-code_input {
    width: 230px;
    font-family: Muller;
    font-size: 46px;
    line-height: 54px;
    letter-spacing: .23em;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    @include mobile{
        padding: 0;
        margin-left: 4px;
    }
}

.code-field_border {
    margin-left: -10px;
}