.load-blocker{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0);
    z-index: 100;
    position: fixed;
}
.load-blocker__loading{
    pointer-events: auto;
}