<div class="stepper__container">
    <div class="stepper__steps">
        <ng-content select="rosa-step"></ng-content>
    </div>
    <div class="stepper__progress">
        <div class="stepper__progress-line" #progressLine></div>
        <div class="stepper__progress-placeholder"></div>
    </div>
</div>