<div class="content-wrapper">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset">
            <div class="rosa-col-4">
                <div class="stack"><button type="button" rosaButton="rosaButton" routerLink="/form">Go To Form</button><button type="button" rosaButton="rosaButton" routerLink="/page-2">Go To Component 2</button></div>
            </div>
        </div>
    </div>
</div>