<div class="load-blocker" [ngClass]="{'load-blocker__loading': isLoading}"></div>

<div class="content-wrapper offset-top-2 offset-bottom-1">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset offset-bottom-3">
            <div class="button_back">
                <rosa-icon-arrow [fill]="'#282423'" on-click="routeBack()"></rosa-icon-arrow>
            </div>
            <div class="rosa-grid__row">
                <div class="rosa-col-lg-4 rosa-col-sm-4">
                    <h1>Доставка карты</h1>
                    <p>Мы готовы выдать вам кредит сразу на карту без посещения отделения на условиях, указанных ниже. Чтобы получить кредит, пройдите самоидентификацию ниже.</p>
                </div>
            </div>
        </div>
        <div class="rosa-grid-x__offset offset-top-2">
            <div class="rosa-col-lg-3 rosa-col-sm-3">
                <form [formGroup]="deliveryForm">
                    <section class="form-group offset-bottom-5">
                        <h3>Контактная информация</h3>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <rosa-autocomplete-container>
                            <label>Адрес доставки</label>
                            <input type="text" rosaInput [formControl]="deliveryForm.controls['deliveryAddress']" [rosaAutocomplete]="autocomplete" (valueSetted)="setDeliveryAddress($event)"/>
                            <rosa-control-error>укажите фактический адрес доставки</rosa-control-error>
                        </rosa-autocomplete-container>
                        <rosa-autocomplete #autocomplete="rosaAutocomplete">
                            <ng-template rosaAutocompleteContent="rosaAutocompleteContent">
                                <ng-container *ngIf="(deliveryPlace$ | async) as result">
                                    <rosa-option *ngFor="let option of result" [value]="option">{{ option.value }}</rosa-option>
                                    <rosa-option class="no-result" *ngIf="!result.length">Не найдено</rosa-option>
                                </ng-container>
                            </ng-template>
                        </rosa-autocomplete>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <rosa-input-container>
                            <label for="codeWord">Кодовое слово</label>
                            <input type="text" id="codeWord" rosaInput [formControl]="deliveryForm.controls['codeWord']"/>
                            <rosa-control-error>укажите кодовое слово</rosa-control-error>
                            <rosa-control-helper>только цифры и кириллические буквы</rosa-control-helper>
                        </rosa-input-container>
                    </section>
                    <section class="form-group checkbox-form-group offset-bottom-5 form-group__tooltip">
                        <rosa-checkbox-container>
                            <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="deliveryForm.controls['thirdPartyAbs']" id="thirdPartyAbs" name="thirdPartyAbs" />
                            <label for="thirdPartyAbs" value="{{this.localState?.forms?.checkoutDelivery?.fields?.thirdPartyAbs?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                            <rosa-control-error>Примите соглашение чтобы продолжить</rosa-control-error>
                        </rosa-checkbox-container>
                        <rosa-icon-help class="rosa-icon-help" rosaPopup="{{this.localState?.forms?.checkoutDelivery?.fields?.thirdPartyAbs?.tooltip}}"></rosa-icon-help>
                    </section>
                    <section class="form-group checkbox-form-group offset-bottom-5 form-group__tooltip">
                        <rosa-checkbox-container>
                            <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="deliveryForm.controls['benefAbs']" id="benefAbs" name="benefAbs" />
                            <label for="benefAbs" value="{{this.localState?.forms?.checkoutDelivery?.fields?.benefAbs?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                            <rosa-control-error>Примите соглашение чтобы продолжить</rosa-control-error>
                        </rosa-checkbox-container>
                        <rosa-icon-help class="rosa-icon-help" rosaPopup="{{this.localState?.forms?.checkoutDelivery?.fields?.benefAbs?.tooltip}}"></rosa-icon-help>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <h3>Дополнительные услуги</h3>
                    </section>
                    <section class="form-group checkbox-form-group offset-bottom-5">
                        <rosa-checkbox-container>
                            <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="deliveryForm.controls['smsInfo']" id="smsInfo" name="smsInfo" />
                            <label for="smsInfo" value="{{this.localState?.forms?.checkoutDelivery?.fields?.smsInfo?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                        </rosa-checkbox-container>
                    </section>
                    <section class="form-group checkbox-form-group offset-bottom-5">
                        <rosa-checkbox-container>
                            <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="deliveryForm.controls['safeAcc']" id="safeAcc" name="safeAcc" />
                            <label for="safeAcc" value="{{this.localState?.forms?.checkoutDelivery?.fields?.safeAcc?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                        </rosa-checkbox-container>
                    </section>
                    <section class="form-group offset-bottom-5 offset-top-3">
                        <button type="button" rosaButton (click)="checkoutForm()" #sendButton>Оформить доставку</button>
                        <div class="form-errors">
                                <rosa-control-error *ngIf="!this.deliveryForm.valid">Чтобы продолжить необходимо: </rosa-control-error>
                                <rosa-control-error *ngIf="!this.deliveryForm.controls['deliveryAddress'].valid">Указать адрес доставки, </rosa-control-error>
                                <rosa-control-error *ngIf="!this.deliveryForm.controls['codeWord'].valid">Выбрать кодовое слово, </rosa-control-error>
                                <rosa-control-error *ngIf="!this.deliveryForm.controls['thirdPartyAbs'].valid">Принять соглашение </rosa-control-error>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>