:host {
    position: relative;
    box-sizing: border-box;
    display: block;
  }

  .rosa-select-container {
    transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding-bottom: 15px;
    margin-bottom: 40px;
    z-index: 4;
  }
  .rosa-select-container label {
    color: #282423;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 9px;
  }
  .rosa-select-container::after {
    content: '';
    position: absolute;
    top: -18px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-color: var(--backgroundColor, #fff);
    visibility: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }

  .rosa-select-container__open {
    position: relative;
  }
  .rosa-select-container__open::after {
    visibility: visible;
  }

  ::ng-deep rosa-control-helper,
  rosa-control-error {
    display: block;
  }
