<div class="rosa-select-container" [ngClass]="{'rosa-select-container__open': isOpen}">
    <div class="rosa-select_inner" [ngClass]="controlClass()">
        <ng-content select="label"></ng-content>
        <div class="rosa-select-wrapper">
            <ng-content select="rosa-select"></ng-content>
            <!--clr-icon('*ngIf'="invalid" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true")-->
        </div>
    </div>
</div>
<ng-content select="rosa-control-helper" *ngIf="controlValid"></ng-content>
<ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>