<div class="content-wrapper offset-top-2 offset-bottom-1">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset offset-bottom-2">
            <div class="rosa-grid__row">
                <div class="rosa-col-lg-4 rosa-col-sm-4">
                    <h1>Поздравляем! Ваши средства в&nbsp;безопасности</h1>
                    <p>Введите свой e-mail для получения вашего pdf полиса</p>
                </div>
            </div>
        </div>
        <div class="rosa-grid-x__offset">
            <div class="rosa-grid__row ">
                <form [formGroup]="mailForm">
                    <div class="mail-form_controls">
                        <div class="mail-form_input">
                            <section class="form-group">
                                <rosa-input-container>
                                    <label for="email">Электронная почта</label>
                                    <input type="email" id="email" tabindex="0" rosaInput email
                                        [formControl]="mailForm.controls['email']" />
                                    <rosa-control-error>укажите адрес электронной почты</rosa-control-error>
                                </rosa-input-container>
                            </section>
                        </div>
                        <section class="button-group">
                            <button type="button" rosaButton on-click="sendMail()">
                                Отправить
                            </button>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>