@import 'variables.scss';
@import 'mixins.scss';
.mail-form_controls {
  display: block;
  display: flex;
  align-items: flex-start;
  @include mobile {
    display: block;
  }
}
form {
  @include mobile {
    width: 100%;
    margin: 0;
  }
}
.mail-form_input {
  width: 495px;
  margin-right: 40px;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}
.button-group {
  margin-top: 15px;
  @include desktop {
  }
  @include mobile {
    margin-top: 50px;
  }
}
