.popup {
    box-shadow: 0 2px 6px rgba(40, 36, 35, 0.1);
    max-width: 496px;
    width: 496px;
    min-width: 320px;
    background-color: #FFF;
    @media (max-width: 575.98px) {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }
    header {
        position: relative;
        padding: 25px 25px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        padding: 25px;
    }
}