@import "./../variables.scss";
@import "./../mixins.scss";
.offset-bottom-1 {
    margin-bottom: 160px;
    @include phablet {
        margin-bottom: 120px;
    }
    @include mobile {
        margin-bottom: 100px;
    }
}

.offset-bottom-2 {
    margin-bottom: 100px;
    @include phablet {
        margin-bottom: 80px;
    }
    @include mobile {
        margin-bottom: 60px;
    }
}

.offset-bottom-3 {
    margin-bottom: 80px;
    @include phablet {
        margin-bottom: 70px;
    }
    @include mobile {
        margin-bottom: 50px;
    }
}

.offset-bottom-4 {
    margin-bottom: 60px;
    @include mobile {
        margin-bottom: 50px;
    }
}

.offset-bottom-5 {
    margin-bottom: 50px;
    @include mobile {
        margin-bottom: 40px;
    }
}

.offset-bottom-6 {
    margin-bottom: 40px;
    @include mobile {
        margin-bottom: 30px;
    }
}

.offset-bottom-7 {
    margin-bottom: 30px;
}

.offset-bottom-8 {
    margin-bottom: 20px;
    @include mobile {
        margin-bottom: 10px;
    }
}

.offset-bottom-9 {
    margin-bottom: 10px;
}

.offset-top-1 {
    margin-top: 160px;
    @include phablet {
        margin-top: 120px;
    }
    @include mobile {
        margin-top: 100px;
    }
}

.offset-top-2 {
    margin-top: 100px;
    @include phablet {
        margin-top: 80px;
    }
    @include mobile {
        margin-top: 60px;
    }
}

.offset-top-3 {
    margin-top: 80px;
    @include phablet {
        margin-top: 70px;
    }
    @include mobile {
        margin-top: 50px;
    }
}

.offset-top-4 {
    margin-top: 60px;
    @include mobile {
        margin-top: 50px;
    }
}

.offset-top-5 {
    margin-top: 50px;
    @include mobile {
        margin-top: 40px;
    }
}

.offset-top-6 {
    margin-top: 40px;
    @include mobile {
        margin-top: 30px;
    }
}

.offset-top-7 {
    margin-top: 30px;
}

.offsett-top-8 {
    margin-top: 20px;
    @include mobile {
        margin-top: 10px;
    }
}

.offset-top-9 {
    margin-top: 10px;
}