<div class="rosa-datepicker-container" #container>
    <ng-content select="label"></ng-content>
    <div class="rosa-datepicker-wrapper">
        <ng-content select="[rosaInput]"></ng-content>
        <div class="datepicker__container" #datepickerContainer>
            <ng-content select="rosa-datepicker"></ng-content>
        </div>
    </div>
    <!--clr-icon('*ngIf'="invalid" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true")-->
    <ng-content select="rosa-control-helper" *ngIf="controlValid"></ng-content>
    <ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>
</div>