.rosa-form-control {
    background: #FFF;
}

:host {
    position: relative;
    box-sizing: border-box;
    display: block;
}

.rosa-datepicker-wrapper {
    display: block;
    position: relative;
    border: 0;
    background: 0 0;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: none!important;
    overflow: visible;
    height: auto;
}

.rosa-datepicker-container {
    position: relative;
    transition: opacity .35s cubic-bezier(.25, .46, .45, .94);
    z-index: 4;
    &::ng-deep label {
        color: #282423;
        font-size: 9px;
        line-height: 16px;
        letter-spacing: .1em;
        font-weight: 500;
        text-transform: uppercase;
        display: block;
    }
}

.datepicker__container {
    opacity: 0;
    transition: opacity .15s ease-in;
    position: absolute;
    pointer-events: none;
    @media (max-width: 575.98px) {
        width: 100%;
    }
}

.datepicker_open {
    opacity: 1;
    pointer-events: auto;
}