.rosa-tab{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .32px;
    color:#807d7d;
    cursor: pointer;
    user-select: none;
}
.rosa-tab__active > .rosa-tab{
    color:#FFF !important;
    font-weight: 500;
}