<ng-content select="label"></ng-content>
<div>
    <div class="rosa-input-wrapper">
        <ng-content select="[rosaInput]"></ng-content>
        <ng-content select="rosa-phone"></ng-content>
        <ng-content select="rosa-autocomplete"></ng-content>
        <!--clr-icon('*ngIf'="invalid" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true")-->
        <ng-content select="rosa-control-helper" *ngIf="controlValid"></ng-content>
        <ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>
    </div>
</div>