.rosa-form-control {
    background: #FFF;
}

:host {
    position: relative;
    box-sizing: border-box;
    display: block;
}

::ng-deep label {
    color: #282423;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.autocomplete__active:after {
    content: '';
    position: absolute;
    top: -18px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-color: var(--backgroundColor, #fff);
    visibility: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.rosa-input-wrapper {
    position: relative;
    display: block;
    height: 64px;
}