<div class="rosa-modal">
    <div class="rosa-modal__content">
        <div *ngIf="(office$ | async) as office;  else phone">
            <h3>Ждем вас в назначенное время в назначенном месте</h3>
            <p>Мы будем ждать вас в нашем офисе по адресу: {{office.address}}</p>
        </div>
        <ng-template #phone>
            <h3>Ваша заявка принята</h3>
            <p>О результате рассмотрения мы проинформируем вас по указанному вами номеру</p>
        </ng-template>
        <div class="controls offset-top-5">
            <button type="button" rosaButton (click)="redirect()">Продолжить покупки</button>
        </div>
    </div>
</div>