.step{
    width: 26px;
    height: 26px;
    background-color:#f2f2f2;
    color:#807d7d;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    border: 2px solid#f2f2f2;
    user-select: none;
}

.step_active > .step{
    background-color:#FFF !important;
    color:#807d7d !important;
    border-color:#e60028 !important;
    color:#e60028 !important;
}