@import 'variables';
@import 'mixins';
.button_back {
    position: absolute;
    left: 0;
    top: 10px;
    transform: rotate(180deg);
    @include display {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}