<div class="rosa-modal">
    <div class="rosa-modal__content">
        <h3>Согласия на обработку информации</h3>
        <p>Нажимая кнопку «Продолжить», я даю свое согласие</p>
        <form [formGroup]="disclaimerForm" class="offset-top-7">
            <section class="form-group checkbox-form-group offset-bottom-7 form-group__tooltip">
                <rosa-checkbox-container>
                    <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="disclaimerForm.controls['adsFlag']" id="adsFlag" name="adsFlag" />
                    <label for="adsFlag" value="{{state?.forms?.application?.fields?.adsFlag?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                </rosa-checkbox-container>
                <a href="https://store.rosbank.ru/short-app-api//documents?type=adsConsent" target="_blank"><rosa-icon-help class="rosa-icon-help"></rosa-icon-help></a>

            </section>
            <section class="form-group checkbox-form-group offset-bottom-7 form-group__tooltip">
                <rosa-checkbox-container>
                    <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="disclaimerForm.controls['tlcFlag']" id="tlcFlag" name="tlcFlag" />
                    <label for="tlcFlag" value="{{state?.forms?.application?.fields?.tlcFlag?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                </rosa-checkbox-container>
                <a href="https://store.rosbank.ru/short-app-api//documents?type=tlcConsent"  target="_blank"><rosa-icon-help class="rosa-icon-help"></rosa-icon-help></a>

            </section>
            <section class="form-group checkbox-form-group offset-bottom-5 form-group__tooltip">
                <rosa-checkbox-container>
                    <input type="checkbox" rosaCheckbox="rosaCheckbox" [formControl]="disclaimerForm.controls['pdFlag']" id="pdFlag" name="pdFlag" />
                    <label for="pdFlag" value="{{state?.forms?.application?.fields?.pdFlag?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                </rosa-checkbox-container>
                <a href="https://store.rosbank.ru/short-app-api//documents?type=pdConsent" target="_blank"><rosa-icon-help class="rosa-icon-help"></rosa-icon-help></a>
            </section>
            <section class="form-group checkbox-form-group offset-bottom-5" *ngIf="!this.disclaimerForm.valid">
                <rosa-control-error >
                    При выбранных вами параметрах данный сервис не позволяет оформить заявку на дебетовую карту онлайн. Пожалуйста, измените параметры или обратитесь в отделение ПАО РОСБАНК.
                </rosa-control-error>
            </section>

            <div class="controls">
                <button type="button" rosaButton (click)="agree()">Продолжить</button>
            </div>
        </form>
    </div>
</div>