<rosa-header></rosa-header>
<router-outlet></router-outlet>
<footer class="footer_steps">
  <div class="rosa-grid-x">
    <div class="rosa-grid-x__offset offset-bottom-3">
      <rosa-stepper-container [active]="step">
        <rosa-step [index]="'1'" [value]="'info'"></rosa-step>
        <rosa-step [index]="'2'" [value]="'account'"></rosa-step>
        <rosa-step [index]="'3'" [value]="'summary'"></rosa-step>
        <rosa-step-progress></rosa-step-progress>
      </rosa-stepper-container>
    </div>
  </div>
</footer>