
.footer_steps{
  background-color: #FFF;
  position: fixed;
  bottom:0;
  left:0;
  z-index: 100;
  width:100%;
  padding-top: 15px;
  width: 100%;
  height: 60px;
  box-shadow: 0 -1px 12px rgba(171, 172, 176, 0.3);
}