.rosa-form-control {
    background: #FFF;
}

:host {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}
.rosa-control-container{
    display: inline-block;
}

.rosa-checkbox__icon {
    position: absolute;
    left: 0;
}

::ng-deep label {
    color: #282423;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding-right: 4px;
}

.radio-wrapper {
    margin-bottom: 32px;
}

::ng-deep[type="checkbox"]:checked,
::ng-deep[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

::ng-deep[type="checkbox"]:checked+label,
::ng-deep[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 39px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .02em;
    display: inline-block;
    color: var(--color-night);
    text-transform: none;
    user-select: none;
}

::ng-deep[type="checkbox"]:not(:checked)+label>.rosa-checkbox__icon {
    opacity: 0;
    transform: scale(0);
}

::ng-deep[type="checkbox"]:checked+label>.rosa-checkbox__icon {
    opacity: 1;
    transform: scale(1);
}

.theme-default {
     ::ng-deep[type="checkbox"]:checked+label:before,
     ::ng-deep[type="checkbox"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border: 1px solid var(--color-steel);
        background: var(--color-sterile);
    }
     ::ng-deep[type="checkbox"]:not(:checked):hover+label:before {
        border: 2px solid var(--color-steel);
    }
     ::ng-deep[type="checkbox"]:checked+label:before {
        background-color: var(--color-asbestos);
        border-color: var(--color-asbestos);
    }
}

.theme-dark {}

.theme-gray {
     ::ng-deep[type="checkbox"]:checked+label:before,
     ::ng-deep[type="checkbox"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        box-shadow: rgba(128, 125, 125, 0.5) 0px 0px 0px 1px inset;
        background: var(--color-asbestos);
    }
     ::ng-deep[type="checkbox"]:checked+label:before {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px;
    }
}

::ng-deep rosa-icon-help {
    margin-left: 10px;
}
.rosa-checkbox-error{
    margin-top: 8px;
    display: block;
}