<div class="rosa-control-container">
    <div class="rosa-checkbox-wrapper" #themeContainer>
        <ng-content select="[rosaCheckbox]"></ng-content>
        <ng-content select="[rosaCheckboxLabel]"></ng-content>
        <ng-content select="button"></ng-content>
        <ng-content select="a"></ng-content>
    </div>
    <div class="rosa-checkbox-error">
        <ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>
    </div>
</div>
<ng-content select="label"></ng-content>