<div class="phone-field_container">
    <div class="phone_prefix">+7</div>
    <div class="phone_field"><input class="phone_input" #phoneInput (input)="change($event)" mask="000 000 00 00" /><svg class="phone-field_border" width="356" height="2" viewBox="0 0 356 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h90v2H0V0zM110 0h90v2h-90V0zM220 0h58v2h-58V0zM298 0h58v2h-58V0z" fill="#282423"></path></svg></div>
</div>