.phone_prefix {
    font-size: 46px;
    line-height: 54px;
    margin-right: 8px;
}

.phone-field_container {
    display: flex;
}

.phone_field {
    position: relative;
}

.phone_input {
    font-family: Muller;
    font-size: 46px;
    line-height: 54px;
    letter-spacing: .06em;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.phone-field_border {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 356px;
    height: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s ease-out;
    font-size: 46px;
    line-height: 46px;
}