@import "./../variables.scss";
@import "./../mixins.scss";
.rosa-grid-x {
    margin: 0 $grid-margin;
    position: relative;
    @include desktop {}
    @include phablet {}
    @include tablet {}
    @include mobile {}
}

.rosa-grid-x__offset {
    width: 100%;
    @include desktop {
        padding-left: $grid-offset;
    }
    @include mobile {}
}

.rosa-col-lg-6 {
    @include desktop {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.rosa-col-lg-5 {
    @include desktop {
        max-width: calc(#{$col-width} * 5 + #{$padding-width} * 4);
        flex: 0 0 calc(#{$col-width} * 5 + #{$padding-width} * 4);
    }
    @include tablet {
        max-width: calc(#{$col-width} * 5 + #{$padding-width} * 4);
        flex: 0 0 calc(#{$col-width} * 5 + #{$padding-width} * 4);
    }
}

.rosa-col-lg-4 {
    @include desktop {
        max-width: calc(#{$col-width} * 4 + #{$padding-width} * 3);
        flex: 0 0 calc(#{$col-width} * 4 + #{$padding-width} * 3);
    }
    @include tablet {
        max-width: calc(#{$col-width} * 4 + #{$padding-width} * 3);
        flex: 0 0 calc(#{$col-width} * 4 + #{$padding-width} * 3);
    }
}

.rosa-col-lg-3 {
    @include desktop {
        max-width: calc(#{$col-width} * 3 + #{$padding-width} * 2);
        flex: 0 0 calc(#{$col-width} * 3 + #{$padding-width} * 2);
    }
    @include tablet {
        max-width: calc(#{$col-width} * 3 + #{$padding-width} * 2);
        flex: 0 0 calc(#{$col-width} * 3 + #{$padding-width} * 2);
    }
    @include mobile {
        width: 100%;
    }
}

.rosa-col-lg-2 {
    @include desktop {
        max-width: calc(#{$col-width} * 2 + #{$padding-width});
        flex: 0 0 calc(#{$col-width} * 2 + #{$padding-width});
    }
    @include tablet {
        max-width: calc(#{$col-width} * 2 + #{$padding-width});
        flex: 0 0 calc(#{$col-width} * 2 + #{$padding-width});
    }
}

.rosa-col-lg-1 {
    @include desktop {
        max-width: $col-width;
        flex: 0 0 $col-width;
    }
}

.rosa-col-md-4 {
    @include tablet {
        max-width: calc(#{$col-width} * 4 + #{$padding-width} * 3);
        flex: 0 0 calc(#{$col-width} * 4 + #{$padding-width} * 3);
    }
}

.rosa-col-md-3 {
    @include tablet {
        max-width: calc(#{$col-width} * 3 + #{$padding-width} * 2);
        flex: 0 0 calc(#{$col-width} * 3 + #{$padding-width} * 2);
    }
}

.rosa-col-md-2 {
    @include tablet {
        max-width: calc(#{$col-width} * 2 + #{$padding-width});
        flex: 0 0 calc(#{$col-width} * 2 + #{$padding-width});
    }
}

.rosa-col-md-1 {
    @include desktop {
        max-width: $col-width;
        flex: 0 0 $col-width;
    }
}

// grid-margin: 5%;
// gutter 2.25
.rosa-col-sm-4 {
    @include display {
        max-width: 100%;
        flex: 0 0 100%;
    }
    @include tablet {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.rosa-col-sm-3 {
    @include display {
        max-width: calc(#{$grid-sm-col-width} * 3 + #{$grid-sm-padding} * 2);
        flex: 0 0 calc(#{$grid-sm-col-width} * 3 + #{$grid-sm-padding} * 2);
    }
    @include tablet {
        max-width: calc(#{$grid-sm-col-width} * 3 + #{$grid-sm-padding} * 2);
        flex: 0 0 calc(#{$grid-sm-col-width} * 3 + #{$grid-sm-padding} * 2);
    }
}

.rosa-col-sm-2 {
    @include display {
        max-width: calc(#{$grid-sm-col-width} * 2 + #{$grid-sm-padding});
        flex: 0 0 calc(#{$grid-sm-col-width} * 2 + #{$grid-sm-padding});
    }
    @include tablet {
        max-width: calc(#{$grid-sm-col-width} * 2 + #{$grid-sm-padding});
        flex: 0 0 calc(#{$grid-sm-col-width} * 2 + #{$grid-sm-padding});
    }
}

.rosa-col-sm-1 {
    @include display {
        max-width: $grid-sm-col-width;
        flex: 0 0 $grid-sm-col-width;
    }
    @include tablet {
        max-width: $grid-sm-col-width;
        flex: 0 0 $grid-sm-col-width;
    }
}

.rosa-col-xs-1 {
    @include mobile {
        max-width: 42, 19%;
        flex: 0 0 42, 19%;
    }
}

.rosa-col-xs-2 {
    @include mobile {
        max-width: $grid-sm-col-width;
        flex: 0 0 $grid-sm-col-width;
    }
}

.rosa-col-xs-full {
    @include mobile {
        max-width: 100%;
        width: 100%;
    }
}

.rosa-grid__row {
    display: flex;
    flex-wrap: wrap;
    // margin-right: calc(#{$padding-width} / 2);
    //  margin-left:calc(#{$padding-width} / 2);
}

.row__offset-right {
    margin-right: $grid-margin_reverse;
}

.row__mobile-fullwidth {
    @include display {
        margin: 0 $grid-margin_reverse;
    }
    @include tablet {
        margin: 0 $grid-margin_reverse;
    }
    @include phablet {
        margin: 0 $grid-margin_reverse;
    }
    @include mobile {
        margin: 0 $grid-margin_reverse;
    }
}

.rosa-grid-x__offset__mobile-paddings {
    @include display {
        padding: 0 $grid-margin;
    }
    @include tablet {
        padding: 0 $grid-margin;
    }
    @include phablet {
        padding: 0 $grid-margin;
    }
    @include mobile {
        padding: 0 $grid-margin;
    }
}

.row__justify {
    justify-content: space-between;
}

.row__start {
    justify-content: flex-start;
}

[class^="rosa-col"] {
    position: relative;
    //padding-left: calc(#{$padding-width} / 2);
    //padding-right: calc(#{$padding-width} / 2);
}

.rosa-grid__mobile-reverse {
    @include mobile {
        flex-direction: column-reverse;
    }
}

.rosa-desktop__hide {
    display: none;
    @include display {
        display: block;
    }
    @include tablet {
        display: block;
    }
    @include mobile {
        display: block;
    }
}

.rosa-desktop__show {
    @include display {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}