h1 {
    font-size: 3.75rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.01em;
    margin: 0 0 35px;
    margin-left: -0.02em;
    @include mobile {
        font-size: 36px;
        line-height: 1;
    }
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    @include mobile {
        font-size: 26px;
        line-height: 33px;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.02em;
    margin: 0 0 14px;
    @include mobile {
        font-size: 24px;
        line-height: 35px;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    &::selection {
        color: #fff !important;
        text-shadow: none;
        background: #d33a2c;
    }
}

p {
    font-size: .88rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 0 10px 0;
}

// p 10
// s 5
// just in classes
.header-01 {
    font-size: 3.75rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.01em;
    margin: 0;
    @include mobile {
        font-size: 36px;
        line-height: 1;
    }
}

.header-02 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin: 0;
    @include mobile {
        font-size: 26px;
        line-height: 33px;
    }
}

.header-03 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.02em;
    margin: 0;
    @include mobile {
        font-size: 24px;
        line-height: 35px;
    }
}

.lead {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.02em;
}

.paragraph-medium {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.paragraph {
    font-size: .8rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.link {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: .05em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-main);
    transition: color .2s cubic-bezier(.25, .46, .45, .94);
    &:hover {
        color: var(--color-main-a);
        .link-arrow {
            transform: translateX(4px);
        }
    }
}

.link-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 20px;
    margin-left: 14px;
    transform: translateX(0);
    transition: transform .2s cubic-bezier(.25, .46, .45, .94);
}

.link-container {
    display: flex;
}

.copyright__dark {
    color: var(--color-secondary);
    letter-spacing: 0.21px;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
}

.rosa-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .88rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    li {
        padding: 0 0 10px 30px;
        position: relative;
        display: flex;
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            display: block;
            width: 17px;
            height: 2px;
            background: $color-text;
        }
    }
}