<div class="rosa-autocomplete-container" #container>
    <ng-content select="label"></ng-content>
    <div class="rosa-autocomplete-wrapper">
        <ng-content select="[rosaInput]"></ng-content>
    </div>
    <ng-content select="rosa-autocomplete"></ng-content>
    <!--clr-icon('*ngIf'="invalid" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true")-->
    <ng-content select="rosa-control-helper" *ngIf="controlValid"></ng-content>
    <ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>
</div>