.rosa-form-control {
    background: #FFF;
}

:host {
    position: relative;
    box-sizing: border-box;
    display: block;
}

.autocomplete__active:after {
    content: '';
    position: absolute;
    top: -18px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-color: var(--backgroundColor, #fff);
    visibility: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.rosa-autocomplete-wrapper {
    display: block;
    position: relative;
    border: 0;
    background: 0 0;
    border-radius: 0;
    outline: 0 !important;
    box-shadow: none!important;
    overflow: visible;
    height: auto;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        ///background: var(--textColor, #282423);
        z-index: 1;
    }
}

.rosa-autocomplete-container {
    transition: opacity .35s cubic-bezier(.25, .46, .45, .94);
    padding-bottom: 15px;
    z-index: 4;
    &::ng-deep label {
        color: #282423;
        font-size: 9px;
        line-height: 16px;
        letter-spacing: .1em;
        font-weight: 500;
        text-transform: uppercase;
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        top: -18px;
        bottom: -20px;
        left: -20px;
        right: -20px;
        background-color: var(--backgroundColor, #fff);
        visibility: hidden;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
        z-index: -1;
    }
}

.rosa-autocomplete-container_open {
    position: relative;
    &::after {
        visibility: visible;
    }
}