<div class="content-wrapper offset-top-2 offset-bottom-1">
  <div class="rosa-grid-x">
    <div class="rosa-grid-x__offset">
      <div class="button_back">
        <rosa-icon-arrow [fill]="'#282423'" on-click="routeBack()"></rosa-icon-arrow>
      </div>
      <div class="rosa-grid__row offset-bottom-3">
        <div class="rosa-col-lg-4 rosa-col-sm-4">
          <h1>Выбор счета оплаты</h1>
        </div>
      </div>
    </div>

    <div class="rosa-grid__row">
      <div class="rosa-grid-x__offset">
        <div class="rosa-col-lg-4">
          <section class="form-group offset-bottom-5">
            <label class="radio-form-group__label">Выберите счет для оплаты</label>
            <div class="radio-group_column">
              <rosa-radio-container *ngFor="let account of accounts; index as i"><input type="radio"
                  rosaRadio="rosaRadio" id="account-{{ i }}" name="account" value="{{ account.num }}"
                  [checked]="i === 0" /><label for="account-{{ i }}">{{ account.num }}</label>
                <span class="radio-account">{{ account.amount }}</span>
              </rosa-radio-container>
            </div>
          </section>
          <section class="form-group offset-bottom-5 form__amount">
            <label>К оплате</label>
            <span class="numbers">{{ amount }} ₽</span>
          </section>
          <section class="form-group offset-bottom-2 ">
            <p class="disclaimer">
              Нажимая на кнопку «Продолжить», я предоставляю свое согласие<br />
              <a href="#">на обработку персональных данных</a>
            </p>
          </section>
          <section class="form-group ">
            <button type="button" rosaButton on-click="selectAccount()">
              Продолжить
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>