@import 'variables.scss';
@import 'mixins.scss';
.radio-account {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.form__amount {
  label {
    margin-bottom: 12px;
  }
}
.disclaimer {
  color: $color-secondary;
  margin-bottom: 40px;
  font-size: 12px;
  max-width: 610px;
}
