<header class="global-header">
    <section class="rosa-grid-x">
        <div class="header-row">
            <div class="logo">
                <img src="assets/images/logo.svg" />
            </div>
            <div class="logo__mobile">
                <img src="assets/images/logo_m.svg" width="126px" height="38px" />
            </div>
            <div class="additional-info">
                <div class="text">Если у вас возникли вопросы – звоните на горячую линию</div>
                <a class="rosa-button_phone" href="tel:88002005434">
                    <span>8 800 200-54-34</span>
                </a>
            </div>
        </div>
    </section>
</header>