@import 'variables.scss';
@import 'mixins.scss';
.rosa-button_phone {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    height: 36px;
    background-color: #e60028;
    color: #FFF !important;
    border-radius: 18px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    padding: 8px 16px;
    transition: background .2s cubic-bezier(.25, .46, .45, .94);
    z-index: 1;
    &:hover {
        background-color: #cf0024;
        text-decoration: none;
    }
    span {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.1em;
        font-weight: 500;
        text-transform: uppercase;
        color: #282423;
        top: 0;
        line-height: 13px;
        color: #fff !important;
        display: inline-block;
        white-space: nowrap;
    }
}

.global-header {
    width: 100%;
    position: relative;
    z-index: 1999;
    top: 0;
    background-color: #FFF;
    // opacity: .5;
}

.logo {
    @include mobile {
        display: none;
    }
    width: 250px;
    height: 46px;
    flex-shrink: 0;
    padding-top: 2px;
    img {
        width: 100%;
        height: auto;
    }
}

.logo__mobile {
    display: none;
    width: 125px;
    height: 37px;
    svg {
        width: 125px;
        height: 37px;
    }
    @include mobile {
        display: inline-block;
    }
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 15px;
    @include mobile {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.additional-info {
    display: flex;
    align-items: flex-start;
    .text {
        width: 182px;
        margin-right: 40px;
        margin-top: 2px;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: var(--color-steel);
        @include mobile {
            display: none;
        }
    }
}