<ng-content select="label"></ng-content>
<div class="rosa-code-container">
    <div class="code_field">
        <ng-content select="[rosaCode]"></ng-content>
        <svg class="code-field_border" width="220" height="4" viewBox="0 0 220 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h40v4h-40V0zM60 0h40v4h-40V0zM120 0h40v4h-40V0zM180 0h40v4h-40V0z" fill="#282423"></path>
        </svg>
    </div>
    <ng-content select="rosa-control-error" *ngIf="!controlValid"></ng-content>

</div>