.card-view {
    background-color: #c4c4c4;
    box-shadow: 0 20px 32px -30px rgb(128, 125, 125);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    @media (max-width: 575.98px) {
        box-shadow: none;
        border-radius: 4px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}