<footer class="global-footer">
    <div class="global-footer__content">
        <svg (click)="scrollToTop()" class="global-footer__arrow" width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.429 11.39l7.55-7.526V24h2.041V3.864l7.551 7.526L20 9.966 10 0 0 9.966l1.429 1.424z" fill="#fff"></path></svg>
        <div class="global-footer__body">
            <ul class="global-footer__links">
                <li class="global-footer__link">
                    <a target="_self" href="/o-banke/raskrytie-informacii" class="">Раскрытие информации</a>
                </li>
                <li class="global-footer__link">
                    <a target="_self" href="/o-banke/raskrytie-informacii/informaciya-o-procentnyh-stavkah-po-dogovoram-bankovskogov-vklada" class="">Информация о максимальных процентных ставках по вкладам физических лиц</a>
                </li>
                <li class="global-footer__link">
                    <a target="_blank" rel="nofollow noopener" href="https://www.e-disclosure.ru/portal/company.aspx?id=2427&amp;_ga=2.73142803.1819025646.1552289144-1562098298.1513240201" class="">Центр раскрытия корпоративной информации</a>
                </li>
                <li class="global-footer__link">
                    <a target="_self" href="/prodazha-obektov-nedvizhimosti/zhilaya-nedvizhimost" class="">Продажа объектов недвижимости</a>
                </li>
                <li class="global-footer__link">
                    <a target="_blank" rel="nofollow noopener" href="https://rosbank-dom.ru/" class="">Раскрытие информации об ипотечных продуктах/программах ПАО РОСБАНК</a>
                </li>
            </ul>
            <div class="global-footer__copyright-text">
                <p>Любое предоставление ПАО РОСБАНК информации на данном сайте не должно рассматриваться как предоставление неполной или недостоверной информации, в том числе как умолчание или заверение об обстоятельствах, имеющих значение для заключения, исполнения или прекращения сделки, или как обязательство заключить сделку на условиях, изложенных на данном сайте, или как оферта, если только иное прямо не указано на данном сайте.</p>
            </div>
            <div class="global-footer_copyright">
                <span>© 2007 — 2019 ПАО РОСБАНК, Генеральная лицензия №2272 от 28.01.15</span>
            </div>
        </div>
    </div>
</footer>