@import 'variables';
@import 'mixins';
.global-footer{
    background-color: $color-text;
    padding: 22px 5vw 36px;
    width: 100%;
    position: relative;
    min-height: 200px;
    @include display{
        padding: 37px 5vw 30px 77px;
    }
    @include tablet{
        padding: 37px 5vw 30px 77px;
    }
    @include mobile{
        padding: 87px 5vw 30px;
    }
   
}
.global-footer__content{
    position: relative;
    padding-left: 10vw;
    margin: 0px auto;
    @include display{
        padding: 0;
    }
    @include tablet{
        padding: 0;
    }
     @include mobile{
         padding: 0;    
     }
}
.global-footer__arrow{
    position: absolute;
    top: 53%;
    left: -9px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px !important;
    height: 44px !important;
    fill: rgb(255, 255, 255) !important;
    padding: 10px;
    @include display{
        top: 48%;
        left: -58px;
    }
    @include tablet{
        top: 48%;
        left: -58px;
    }
    @include mobile{
        top: -57px;
        left: -10px;
        transform: translateY(0px);
    }
}
.global-footer__links{
    padding-top: 11px;
    margin-bottom: 26px;
    list-style: none;
    @include display{
        margin-bottom: 32px;
    }
    @include tablet{
        margin-bottom: 32px;
    }
    @include mobile{
        margin-bottom: 32px;
    }
}

.global-footer__link:not(:last-child) {
    margin-right: 52px;
}
.global-footer__link {
    display: inline-block;
    margin-bottom: 7px;
}
.global-footer__link a {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: var(--letterSpacing,0.02em);
    color: #c4c4c4;
    position: relative;
}
.global-footer__copyright-text p {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #807d7d;
    margin-bottom: 15px;
    @include mobile{
        margin-bottom: 19px;
    }
}

.global-footer_copyright{
    display: flex;
    justify-content: space-between;
    color: #807d7d;
}

.global-footer_copyright span{
    display: block;
    font-family: Muller;
    font-size: 12px;
    line-height: 16px;
    color: #807d7d;
    margin-bottom: 15px;
}