<div class="content-wrapper offset-top-2 offset-bottom-1">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset offset-bottom-3">
            <div class="button_back">
                <!--<rosa-icon-arrow [fill]="'#282423'" on-click="routeBack()"></rosa-icon-arrow>-->
            </div>
            <div class="rosa-grid__row offset-bottom-4">
                <div class="rosa-col-lg-4 rosa-col-sm-4">
                    <h1>Страхование карт «Дефанс»</h1>
                    <p>Суть продукта – страхование карт от мошеннических действий. Выберите подходящую вам программу
                        страхования, ознакомившись с сутью и преимуществом опций.</p>
                </div>
            </div>
            <div class="rosa-grid__row offset-bottom-4">
                <section class="rosa-promo">
                    <div class="rosa-promo__card">
                        <div class="rosa-promo__icon rosa-promo__icon_support">
                            <svg width="46" height="42" viewBox="0 0 46 42" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path
                                        d="M40.8453 23.5C40.9474 22.681 41 21.8467 41 21C41 9.9543 32.0457 1 21 1C9.9543 1 1 9.9543 1 21C1 32.0457 9.9543 41 21 41C23.8444 41 26.5502 40.4062 29 39.3358"
                                        stroke="#282423" stroke-width="2" stroke-miterlimit="10" />
                                    <path d="M45.3414 19.603L40.8363 23.565L36.8735 19.0591" stroke="#282423"
                                        stroke-width="2" stroke-miterlimit="10" />
                                </g>
                                <path
                                    d="M12.924 17.014V18.554C13.932 17.826 14.982 17.49 15.948 17.49C17.124 17.49 17.838 17.924 17.838 18.75C17.838 19.828 16.872 20.318 15.766 20.962C14.324 21.816 12.602 22.698 12.602 25.022V25.75H19.504V24.308L14.394 24.322C14.408 23.37 15.57 22.782 16.802 22.054C18.09 21.284 19.434 20.332 19.434 18.722C19.434 16.944 18.02 16.048 16.088 16.048C14.982 16.048 13.904 16.342 12.924 17.014ZM27.5115 16.23H25.8735L20.8055 22.446V23.804H25.9715V25.75H27.5115V23.804H29.1495V22.418H27.5115V16.23ZM25.9715 18.26V22.418H22.5835L25.9715 18.26Z"
                                    fill="#282423" />
                            </svg>
                        </div>
                        <div class="rosa-promo__description">
                            Поддержка 24 часа в&nbsp;сутки по всему миру
                        </div>
                    </div>
                    <div class="rosa-promo__card">
                        <div class="rosa-promo__icon rosa-promo__icon_card">
                            <svg width="68" height="47" viewBox="0 0 68 47" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M39 43H5.0002C5.0002 43 1.00064 43 1.0002 37.5C0.999752 32 1.0002 18 1.0002 13.5C1.0002 9.00001 5.00039 9.00004 7.0002 9.00001C9 8.99998 41.5004 9.00001 46.0002 9.00001C50.5 9.00001 50.9463 10.5 51.0002 14C51.0541 17.5 51 21 51 21"
                                    stroke="#282423" stroke-width="2" />
                                <rect x="5" y="16" width="42" height="2" fill="#282423" />
                                <rect x="5" y="34" width="12" height="2" fill="#282423" />
                                <path
                                    d="M46.2354 29.5293C46.2354 26.8979 48.3686 24.7646 51.0001 24.7646V24.7646C53.6315 24.7646 55.7648 26.8979 55.7648 29.5294V34.2941H46.2354V29.5293Z"
                                    stroke="#282423" stroke-width="2" />
                                <mask id="path-5-inside-1" fill="white">
                                    <rect x="42" y="33.2354" width="18" height="13.7647" rx="1" />
                                </mask>
                                <rect x="42" y="33.2354" width="18" height="13.7647" rx="1" stroke="#282423"
                                    stroke-width="4" mask="url(#path-5-inside-1)" />
                                <path
                                    d="M17 6V5C17 2.79086 18.7909 1 21 1H63C65.2091 1 67 2.79086 67 5V31C67 33.2091 65.2091 35 63 35H62"
                                    stroke="#282423" stroke-width="2" />
                            </svg>
                        </div>
                        <div class="rosa-promo__description">
                            Защита всех карт росбанка
                        </div>
                    </div>
                    <div class="rosa-promo__card">
                        <div class="rosa-promo__icon rosa-promo__icon_auto">
                            <svg width="55" height="57" viewBox="0 0 55 57" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 8.49997L25.9091 11L30.4091 6.5" stroke="#282423" stroke-width="2" />
                                <path
                                    d="M34 10.4509C34 13.5285 31.1813 16.0066 28.4535 17.801C27.267 18.5815 25.7283 18.5894 24.5414 17.8096C21.8132 16.0172 19 13.4995 19 10.4509V4.59516C19 3.69579 19.6003 2.90704 20.4672 2.66744L24.3687 1.58907C25.7634 1.20358 27.2366 1.20358 28.6313 1.58907L32.5328 2.66744C33.3997 2.90704 34 3.69579 34 4.59516V10.4509Z"
                                    stroke="#282423" stroke-width="2" stroke-miterlimit="10" />
                                <path
                                    d="M26.2622 50.7458L28.4757 52.6347C29.9169 53.8645 32.0232 53.9146 33.5212 52.7547L34.481 52.0115"
                                    stroke="#282423" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M29.231 47.3083L32.9462 50.6483C34.3792 51.9366 36.527 52.0201 38.0557 50.8469L38.7778 50.2927"
                                    stroke="#282423" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M32.2622 43.6521L38.7253 49.5799C39.4769 50.2692 40.5955 50.3736 41.4616 49.8353V49.8353C42.7127 49.0578 42.9051 47.314 41.8538 46.2823L40.5747 45.0271"
                                    stroke="#282423" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M8.79773 25.6314C9.02701 25.1289 9.62018 24.9075 10.1226 25.1368L12.8519 26.3822C13.3543 26.6115 13.5758 27.2047 13.3465 27.7071L6.28906 43.173C6.05978 43.6754 5.4666 43.8968 4.96416 43.6676L2.23489 42.4221C1.73245 42.1929 1.511 41.5997 1.74028 41.0972L8.79773 25.6314Z"
                                    stroke="#282423" stroke-width="2" />
                                <path
                                    d="M45.4142 25.6314C45.1849 25.1289 44.5917 24.9075 44.0893 25.1368L41.36 26.3822C40.8576 26.6115 40.6361 27.2047 40.8654 27.7071L47.9229 43.173C48.1521 43.6754 48.7453 43.8968 49.2478 43.6676L51.977 42.4221C52.4795 42.1929 52.7009 41.5997 52.4716 41.0972L45.4142 25.6314Z"
                                    stroke="#282423" stroke-width="2" />
                                <path
                                    d="M41.5435 29.0271L40.0462 29.3726C39.4521 29.5097 38.828 29.3684 38.351 28.9887L36.5071 27.5211C36.2045 27.2803 35.8386 27.1323 35.4536 27.0952L24.4577 26.0347C23.9884 25.9894 23.5181 26.1115 23.13 26.3792L17.2787 30.4162C16.4076 31.0172 16.2272 32.23 16.8858 33.0585L16.9476 33.1364C17.376 33.6754 17.9604 34.0689 18.6209 34.2631V34.2631C19.34 34.4746 20.1093 34.4383 20.8052 34.1599L20.9357 34.1077C21.5876 33.8469 22.1997 33.4959 22.7539 33.0648L24.0013 32.0946C24.4642 31.7346 25.0618 31.5958 25.636 31.7151L26.9705 31.9924C27.3495 32.0711 27.6975 32.2582 27.9723 32.5308L34.5474 39.0544L41.5435 45.9958L44.481 43.8552L47.4185 41.7146"
                                    stroke="#282423" stroke-width="2" />
                                <path d="M12.9961 29.6521H18.3086" stroke="#282423" stroke-width="2"
                                    stroke-linecap="round" />
                                <path
                                    d="M7.10596 42.0271C13.5079 47.2204 17.4839 50.1613 23.9747 54.3956C25.2236 55.2103 26.8242 55.2506 28.1189 54.5108L29.5122 53.7146"
                                    stroke="#282423" stroke-width="2" stroke-linecap="round" /></svg>
                        </div>
                        <div class="rosa-promo__description">
                            Возможность автоматического продления
                        </div>
                    </div>
                    <div class="rosa-promo__card">
                        <div class="rosa-promo__icon rosa-promo__icon_online">
                            <svg width="51" height="48" viewBox="0 0 51 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.6857 5L32.1143 5C33.1514 5 34 5.8325 34 6.85V21M13.2571 5L2.88571 5C1.84857 5 1 5.8325 1 6.85V40.15C1 41.1675 1.84857 42 2.88571 42H14"
                                    stroke="#282423" stroke-width="2" stroke-miterlimit="10" />
                                <path d="M13 4V8H23V4C23 2.34315 21.6569 1 20 1H16C14.3431 1 13 2.34315 13 4Z"
                                    stroke="#282423" stroke-width="2" stroke-miterlimit="10" />
                                <rect x="18" y="25" width="32" height="22" rx="2" stroke="#282423" stroke-width="2"
                                    stroke-miterlimit="10" />
                                <path d="M22 31H46M22 41H31" stroke="#282423" stroke-width="2" /></svg>
                        </div>
                        <div class="rosa-promo__description">
                            Оформление без визита в банк
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="rosa-grid__row row__mobile-fullwidth offset-bottom-2" #tabsElement>
            <div class="rosa-tabs__pane">
                <div class="rosa-grid-x__offset">
                    <rosa-tab-container [active]="activeTab" (selected)="setTab($event)">
                        <rosa-tab [value]="'defence-list'">Пакеты защиты</rosa-tab>
                        <rosa-tab [value]="'defence-compare'">Сравнение предложений</rosa-tab>
                        <rosa-underline></rosa-underline>
                    </rosa-tab-container>
                </div>
            </div>
        </div>
        <div class="rosa-grid__row offset-bottom-2" *ngIf="activeTab === 'defence-list'">
            <div class="rosa-grid-x__offset">
                <div class="rosa-col-lg-4 rosa-col-sm-4">
                    <section class="rosa-package offset-bottom-1">
                        <h2 class="rosa-package__title">Пакет «Базовый»</h2>
                        <p>Базовые условия страхования</p>
                        <div class="rosa-package__features">
                            <div class="rosa-package__feature">
                                <div class="title">4000 ₽</div>
                                <div class="description">страховая сумма</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">1 год</div>
                                <div class="description">срок страхования</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">2000 ₽</div>
                                <div class="description">сумма страхования</div>
                            </div>
                        </div>
                        <div class="rosa-package__controls offset-top-5">
                            <button type="button" rosaButton on-click="selectPackage('Базовый')">Оформить</button>
                            <button class="link" on-click="switchTabs('defence-compare')">
                                <span>Подробнее</span>
                                <div class="link-arrow">
                                    <svg width="24px" height="20px" viewBox="0 0 24 20">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-236.000000, -774.000000)" fill="#E60028"
                                                fill-rule="nonzero">
                                                <g id="Group-2" transform="translate(144.000000, 552.000000)">
                                                    <g transform="translate(0.000000, 220.000000)">
                                                        <g id="ico_arrow_link"
                                                            transform="translate(92.000000, 2.000000)">
                                                            <polygon id="Path"
                                                                points="12.6102 1.42857 20.1356 8.97959 0 8.97959 0 11.0204 20.1356 11.0204 12.6102 18.5714 14.0339 20 24 10 14.0339 0">
                                                            </polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </section>
                    <section class="rosa-package offset-bottom-1">
                        <h2 class="rosa-package__title">Пакет «Оптимум»</h2>
                        <p>Расширенные страховые лимиты</p>
                        <div class="rosa-package__features">
                            <div class="rosa-package__feature">
                                <div class="title">4000 ₽</div>
                                <div class="description">страховая сумма</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">1 год</div>
                                <div class="description">срок страхования</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">2000 ₽</div>
                                <div class="description">сумма страхования</div>
                            </div>
                        </div>
                        <div class="rosa-package__controls offset-top-5">
                            <button type="button" rosaButton on-click="selectPackage('Базовый')">Оформить</button>
                            <button class="link" on-click="switchTabs('defence-compare')">
                                <span>Подробнее</span>
                                <div class="link-arrow">
                                    <svg width="24px" height="20px" viewBox="0 0 24 20">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-236.000000, -774.000000)" fill="#E60028"
                                                fill-rule="nonzero">
                                                <g id="Group-2" transform="translate(144.000000, 552.000000)">
                                                    <g transform="translate(0.000000, 220.000000)">
                                                        <g id="ico_arrow_link"
                                                            transform="translate(92.000000, 2.000000)">
                                                            <polygon id="Path"
                                                                points="12.6102 1.42857 20.1356 8.97959 0 8.97959 0 11.0204 20.1356 11.0204 12.6102 18.5714 14.0339 20 24 10 14.0339 0">
                                                            </polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </section>
                    <section class="rosa-package offset-bottom-5">
                        <h2 class="rosa-package__title">Пакет «Премиум»</h2>
                        <p>Защита карты стороннего банка</p>
                        <div class="rosa-package__features">
                            <div class="rosa-package__feature">
                                <div class="title">4000 ₽</div>
                                <div class="description">страховая сумма</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">1 год</div>
                                <div class="description">срок страхования</div>
                            </div>
                            <div class="rosa-package__feature">
                                <div class="title">2000 ₽</div>
                                <div class="description">сумма страхования</div>
                            </div>
                        </div>
                        <div class="rosa-package__controls offset-top-5">
                            <button type="button" rosaButton on-click="selectPackage('Базовый')">Оформить</button>
                            <button class="link" on-click="switchTabs('defence-compare')">
                                <span>Подробнее</span>
                                <div class="link-arrow">
                                    <svg width="24px" height="20px" viewBox="0 0 24 20">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-236.000000, -774.000000)" fill="#E60028"
                                                fill-rule="nonzero">
                                                <g id="Group-2" transform="translate(144.000000, 552.000000)">
                                                    <g transform="translate(0.000000, 220.000000)">
                                                        <g id="ico_arrow_link"
                                                            transform="translate(92.000000, 2.000000)">
                                                            <polygon id="Path"
                                                                points="12.6102 1.42857 20.1356 8.97959 0 8.97959 0 11.0204 20.1356 11.0204 12.6102 18.5714 14.0339 20 24 10 14.0339 0">
                                                            </polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="rosa-grid__row offset-bottom-2" *ngIf="activeTab === 'defence-compare'">
            <div class="rosa-table__scroll-container">
                <div class="rosa-grid-x__offset rosa-table-grid">
                    <div class="table-header_global offset-bottom-3">
                        <section class="table-header">
                            <div class="rosa-col-lg-2 rosa-table__double-cell"></div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-header__label">Базовый</span>
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-header__label">Оптимум</span>
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-header__label">Премиум</span>
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-header__label">Премиум</span>
                            </div>
                        </section>
                        <section class="table-subheader">
                            <div class="rosa-col-lg-2 rosa-table__double-cell"></div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-subheader__label">карты Росбанка</span>
                            </div>
                            <div class="rosa-col-lg-1 rosa-table__single-cell">
                                <span class="table-subheader__label">карты сторонних банков</span>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="rosa-grid-x__offset rosa-table-grid">
                    <section class="table-body offset-bottom-4" *ngFor="let el of [1,2,3,4,5,6,7,8,9,10]">
                        <div class="rosa-col-lg-2 rosa-table__double-cell rosa-table__description">
                            <p>Деньги, снятые в банкомате или отделении ПАО Росбанк, похищены в течение 72 часов после
                                снятия или сняты под угрозой применения насилия</p>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell ">
                            <p class="table-body__value rosa-table__base">110 000 ₽</p>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell rosa-table__optimum__fix">
                            <p class="table-body__value rosa-table__optimum">150 000 ₽</p>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell  ">
                            <p class="table-body__value  rosa-table__premium_ros">200 000 ₽</p>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell ">
                            <p class="table-body__value rosa-table__premium_another">200 000 ₽</p>
                        </div>
                    </section>
                    <section class="table-body offset-bottom-4 rosa-table__controls">
                        <div class="rosa-col-lg-2 rosa-table__double-cell">
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell">
                            <button type="button" rosaButton on-click="selectPackage('Базовый')">Оформить</button>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell">
                            <button type="button" rosaButton on-click="selectPackage('Оптимум')">Оформить</button>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell">
                            <button type="button" rosaButton on-click="selectPackage('Премиум')">Оформить</button>
                        </div>
                        <div class="rosa-col-lg-1 rosa-table__single-cell">

                        </div>
                    </section>
                    <section class="offset-bottom-4 rosa-table__controls_mobile">
                        <button type="button" rosaButton on-click="switchTabs('defence-list')">Перейти к выбору
                            тарифа</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>