@import 'variables.scss';
@import 'mixins.scss';
:host {
  display: block;
  position: relative;
}

.rosa-promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-wrap: wrap;
  }
}
.rosa-promo__card {
  width: 22.62%;
  height: 197px;
  background-color: $color-gray-03;
  position: relative;
  @include mobile {
    width: 48%;
    margin-bottom: 15px;
    height: 160px;
  }
}
.rosa-promo__icon {
  padding-left: 33px;
  @include mobile {
    padding-left: 20px;
  }
}
.rosa-promo__icon_support {
  padding-top: 51px;
  @include mobile {
    padding-top: 24px;
  }
}
.rosa-promo__icon_card {
  padding-top: 42px;
  @include mobile {
    padding-top: 21px;
  }
}
.rosa-promo__icon_auto {
  padding-top: 37px;
  @include mobile {
    padding-top: 16px;
  }
}
.rosa-promo__icon_online {
  padding-top: 46px;
  @include mobile {
    padding-top: 26px;
  }
}

.rosa-promo__description {
  position: absolute;
  top: 115px;
  left: 32px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 55%;
  @include mobile {
    left: 20px;
    font-size: 9px;
    width: 70%;
    top: 84px;
  }
}
.rosa-tabs__pane {
  width: 100%;
  height: 62px;
  background-color: #282423;
  padding: 0 16px;
  @include display {
    padding: 0 calc(0.05 * 100vw);
  }
  @include tablet {
    padding: 0 calc(0.05 * 100vw);
  }
}

.rosa-package__features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.rosa-package__feature {
  padding: 12px 0;
  margin-right: 40px;
  width: 200px;
  @include tablet {
    width: 150px;
  }
  @include mobile {
    width: 150px;
    margin: 0;
  }
  .title {
    font-size: 24px;
    line-height: 1.4583;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .description {
    font-size: 14px;
    line-height: 1.5;
  }
}
.rosa-package__controls {
  margin-left: -5px;
  display: flex;
  align-items: center;
  button {
    margin-right: 32px;
  }
}

.link {
  @include button-reset;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.05em;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-main);
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    color: var(--color-main-a);
    .link-arrow {
      transform: translateX(4px);
    }
  }
}

.link-arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 20px;
  margin-left: 14px;
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.link-container {
  display: flex;
}

.table-header {
  display: flex;
  justify-content: space-between;
}
.table-subheader {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.table-header__label {
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-secondary;
  display: block;
  width: 100%;
  text-align: center;
}
.table-subheader__label {
  font-size: 0.88rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0 10px 0;
  color: $color-secondary;
  display: block;
  width: 100%;
  text-align: center;
}
.table-header_global {
  border-bottom: 2px solid $color-main;
  @include mobile {
    display: none;
  }
}
.table-body {
  display: flex;
  justify-content: space-between;
  @include mobile {
    display: block;
  }
}
.rosa-table__description {
  @include mobile {
    margin-bottom: 20px;
  }
}
.rosa-table__base {
  @include mobile {
    &:before {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      content: 'Базовый';
    }
  }
}
.rosa-table__optimum {
  @include mobile {
    &:before {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      content: 'Оптимум';
    }
  }
}
.rosa-table__optimum__fix {
  @include mobile {
    &:after {
      display: block;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-transform: uppercase;
      content: 'Премиум';
      margin-bottom: 10px;
    }
  }
}
.rosa-table__premium_ros {
  @include mobile {
    &:before {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.24px;
      color: $color-secondary;
      content: 'карты Росбанка';
    }
  }
}
.rosa-table__premium_another {
  @include mobile {
    &:before {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.24px;
      color: $color-secondary;
      content: 'карты сторонних банков';
    }
  }
}
.table-body__value {
  @include mobile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    line-height: 16px;
  }
  text-align: center;
}
.table__control {
  text-align: center;
}

.rosa-table-grid {
  width: 100%;
  @include display {
    width: 100%;
    //width: 1080px;
  }
  @include tablet {
    width: 1080px;
  }
}

.rosa-table__double-cell {
  @include display {
    width: 302px;
  }
  @include tablet {
    min-width: 400px;
  }
}
.rosa-table__single-cell {
  @include display {
    width: 135px;
  }
  @include tablet {
    width: 135px;
  }
}

.rosa-table__scroll-container {
  width: 100%;

  &::-webkit-scrollbar {
    width: 0 !important;
    background: transparent;
    display: none;
  }
  @include display {
    overflow-x: scroll;
  }
  @include tablet {
    overflow-x: scroll;
  }
}

.rosa-table__controls {
  @include mobile {
    display: none;
  }
}

.rosa-table__controls_mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
