<div class="gray-box">
    <div class="title">
        <ng-content></ng-content>
    </div>
    <div class="arrow-link">
        <div class="arrow-line arrow-line_in"> </div>
        <div class="arrow-icon">
            <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" style="fill: rgb(230, 0, 40);"><rect y="9" class="st0" fill="#E60028" width="22" height="2"></rect><path class="st0" fill="#E60028" d="M12.6 1.4L20.1 9v2l-7.5 7.6L14 20l10-10L14 0l-1.4 1.4z"></path></svg>
        </div>
    </div>
    <div class="gray-box__plumb">
        <div class="arrow-link">
            <div class="arrow-icon arrow-icon_out">
                <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" style="fill: rgb(230, 0, 40);"><rect y="9" class="st0" fill="#E60028" width="22" height="2"></rect><path class="st0" fill="#E60028" d="M12.6 1.4L20.1 9v2l-7.5 7.6L14 20l10-10L14 0l-1.4 1.4z"></path></svg>
            </div>
        </div>
    </div>
</div>