.gray-box {
    min-height: 110px;
    background-color: rgb(242, 242, 242);
    position: relative;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    height: 100%;
    align-items: center;
    padding: 30px 112px 35px 30px;
    cursor: pointer;
    &:hover {
        .arrow-icon {
            transform: translateX(19px);
        }
        .gray-box__plumb {
            width: 25px;
        }
    }
    &:focus {
        outline: none;
    }
}

.arrow-link {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    flex-shrink: 0;
}

.arrow-line {
    background-color: #e60028;
    position: absolute;
    width: 24px;
    transition: transform .2s ease-out;
    top: 50%;
    right: 1px;
    height: 2px;
    transform: translateY(-50%);
}

.arrow-icon {
    height: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    flex-shrink: 0;
    transition: transform .2s ease-out;
    position: absolute;
    width: 24px;
    // hover     transform: translateX(19px);
}

.gray-box__plumb {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #FFF;
    transition: width .13s ease-out;
    // hover width: 25px;
}

.arrow-svg {
    display: block;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .32px;
    user-select: none;
}