<div class="load-blocker" [ngClass]="{'load-blocker__loading': isLoading}"></div>
<div class="content-wrapper offset-top-2 offset-bottom-1">
    <div class="rosa-grid-x">
        <div class="rosa-grid-x__offset offset-bottom-3">
            <div class="rosa-grid__row">
                <div class="rosa-col-lg-4 rosa-col-sm-4">
                    <h1>Оформление карты</h1>
                    <p>Заполните анкету для получения карты онлайн</p>
                </div>
            </div>
        </div>
        <ng-template #preload>
            <div class="rosa-grid__row row__mobile-fullwidth card-info offset-bottom-1" >
                <div class="rosa-grid-x__offset rosa-grid-x__offset__mobile-paddings">
                    <div class="cardinfoloader"></div>
                </div>
            </div>
        </ng-template>
        <div class="rosa-grid__row row__mobile-fullwidth card-info offset-bottom-1" *ngIf="(card$ | async) as info; else preload" >
            <div class="rosa-grid-x__offset rosa-grid-x__offset__mobile-paddings">
                <div class="rosa-col-lg-6 rosa-col-sm-4 rosa-col-xs-4">

                    <div class="rosa-grid__row offset-top-2 offset-bottom-2 rosa-grid__mobile-reverse">
                        <div class="rosa-col-lg-3 rosa-desktop__show">
                            <div class="card-view">
                                <rosa-card-view [cardUrl]="info.card.image"></rosa-card-view>
                            </div>
                        </div>
                        <div class="rosa-col-lg-3 rosa-col-sm-4">
                            <h2>{{info.title}}</h2>
                            <p>{{info.card.description}}</p>
                            <div class="rosa-col-xs-2 rosa-col-sm-4 rosa-desktop__hide">
                                <div class="card-view__mobile">
                                    <rosa-card-view [cardUrl]="info.card.image"></rosa-card-view>
                                </div>
                            </div>
                            <div class="card-options">
                                <div class="option" *ngFor="let option of info.card.details">
                                    <div class="title">{{option.title}}</div>
                                    <div class="description">{{option.description}}</div>
                                </div>
                            </div>
                            <div class="document">
                                <a class="link__external" href=" https://www.rosbank.ru/tarify" target="_blank">Условия и тарифы по продукту «Дебетовая&nbsp;карта»</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rosa-grid-x__offset offset-top-2">
            <div class="rosa-col-lg-3 rosa-col-sm-4">
                <form [formGroup]="rosaForm">
                    <section class="form-group offset-bottom-5" id="contactsBlock" #contactsBlock>
                        <h3>Контактная информация</h3>
                    </section>
                    <section class="form-group offset-bottom-3">
                        <rosa-phone-container>
                            <label for="mobilePhone">Мобильный телефон</label>
                            <input id="mobilePhone" class="phone_input" type="tel" tabindex="0" rosaPhone placeholder="{{localState?.forms?.application?.fields?.mobilePhone?.placeholder}}" [formControl]="rosaForm.controls['mobilePhone']" mask="000 000 00 00" />
                            <rosa-control-error>укажите номер мобильного телефона</rosa-control-error>
                        </rosa-phone-container>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <rosa-input-container>
                            <label for="email">Электронная почта</label>
                            <input type="email" id="email" tabindex="0" rosaInput email [formControl]="rosaForm.controls['email']" />
                            <rosa-control-error>укажите адрес электронной почты</rosa-control-error>
                        </rosa-input-container>
                    </section>
                    <section class="form-group offset-bottom-5 esia-auth">
                        <div class="esia-text">
                            <h3>Паспортные данные</h3>
                            <div class="esia-text__description">
                                <span class="description__text">Заполните паспортные данные из госуслуг</span>
                                <rosa-icon-help rosaPopup="{{esiaTooltipText}}"></rosa-icon-help>
                             </div>
                        </div>
                        <div class="esia-control">
                            <button type="button" on-click="esiaAuth()" rosaRosaButtonAlt>Заполнить из госуслуг</button>
                        </div>
                    </section>
                    <section class="form-group offset-bottom-5" >
                        <rosa-input-container>
                            <label for="lastName">Фамилия</label>
                            <input type="text" id="lastName" tabindex="0" rosaInput  [readonly]="isReadonly" [formControl]="rosaForm.controls['lastName']" />
                            <rosa-control-error>укажите фамилию</rosa-control-error>
                        </rosa-input-container>
                    </section>
                    <section class="form-group offset-bottom-5" >
                        <rosa-input-container>
                            <label for="firstName">Имя</label>
                            <input type="text" id="firstName" tabindex="0" rosaInput [readonly]="isReadonly" [formControl]="rosaForm.controls['firstName']" />
                            <rosa-control-error>укажите имя</rosa-control-error>
                        </rosa-input-container>
                    </section>
                    <section class="form-group offset-bottom-5" >
                        <rosa-input-container>
                            <label for="middleName">Отчество</label>
                            <input type="text" id="middleName" tabindex="0" rosaInput [readonly]="isReadonly" [formControl]="rosaForm.controls['middleName']" />
                            <rosa-control-helper>если отсутствует оставьте пустым</rosa-control-helper>
                            <rosa-control-error>если отсутствует оставьте пустым</rosa-control-error>
                        </rosa-input-container>
                    </section>
                    <section class="form-group offset-bottom-5" >
                        <label class="radio-form-group__label">Пол:</label>
                        <div class="radio-group_column">
                            <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="male" formControlName="gender" name="gender" value="MALE" checked="checked" /><label for="male">Мужской</label></rosa-radio-container>
                            <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="female" formControlName="gender" name="gender" value="FEMALE" /><label for="female">Женский</label></rosa-radio-container>
                        </div>
                    </section>
                    <section class="form-group offset-bottom-5" >
                        <rosa-input-container>
                            <label for="birthDate">Дата рождения</label>
                            <input type="text" id="birthDate" tabindex="0" [readonly]="isReadonly" pattern="\d*" rosaInput [formControl]="rosaForm.controls['birthDate']" mask="00/00/0000" placeholder="дд/мм/гггг" />
                            <rosa-control-error>укажите дату рождения</rosa-control-error>
                        </rosa-input-container>
                    </section>

                    <section class="form-group offset-bottom-5" >
                        <rosa-input-container>
                            <label for="birthPlace">Место рождения</label>
                            <input type="text" id="birthPlace" tabindex="0" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['birthPlace']" />
                            <rosa-control-error>укажите место рождения как в паспорте</rosa-control-error>
                        </rosa-input-container>
                    </section>

                    <section class="form-group offset-bottom-5">
                        <div class="form-group-column">
                            <div class="form-group-column-2">
                                <rosa-input-container>
                                    <label for="docSerNum">Серия и номер</label>
                                    <input type="text" id="docSerNum" tabindex="0" pattern="\d*" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['docSerNum']" mask="0000 000000" placeholder="0000-000000" />
                                    <rosa-control-error>укажите серию и номер паспорта</rosa-control-error>
                                </rosa-input-container>
                            </div>
                            <div class="form-group-column-1 mobile-bottom-50">
                                <rosa-input-container>
                                    <label for="docIssueDate">Дата выдачи</label>
                                    <input type="text" pattern="\d*" id="docIssueDate" tabindex="0" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['docIssueDate']" mask="00/00/0000"  placeholder="дд/мм/гггг" />
                                    <rosa-control-error>{{errorMessages.docIssueDate}}</rosa-control-error>
                                </rosa-input-container>
                            </div>
                            <div class="form-group-column-1">
                                <rosa-input-container>
                                    <label for="docEntityCode">Код подразделения</label>
                                    <input type="text" id="docEntityCode" pattern="\d*"  tabindex="0" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['docEntityCode']" mask="000-000" placeholder="000-000" />
                                    <rosa-control-error>укажите код подразделения</rosa-control-error>
                                </rosa-input-container>
                            </div>
                        </div>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <rosa-autocomplete-container>
                            <label for="docIssueEntity">Кем выдан</label>
                            <input type="text" id="docIssueEntity" tabindex="0" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['docIssueEntity']" [rosaAutocomplete]="autocompletePassOrg" />
                            <rosa-control-error>укажите кем выдан паспорт</rosa-control-error>
                        </rosa-autocomplete-container>
                        <rosa-autocomplete #autocompletePassOrg="rosaAutocomplete">
                            <ng-template rosaAutocompleteContent="rosaAutocompleteContent">
                                <ng-container *ngIf="(fms$ | async) as result">
                                    <rosa-option *ngFor="let option of result" [value]="option">{{ option.value }}</rosa-option>
                                    <rosa-option class="no-result" *ngIf="!result.length">Не найдено</rosa-option>
                                </ng-container>
                            </ng-template>
                        </rosa-autocomplete>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <h3>Адрес регистрации</h3>
                    </section>
                    <section class="form-group offset-bottom-5">
                        <rosa-autocomplete-container>
                            <label for="regAddress">Адрес регистрации</label>
                            <input type="text" id="regAddress" tabindex="0" [readonly]="isReadonly" rosaInput [formControl]="rosaForm.controls['regAddress']" [rosaAutocomplete]="autocompleteAddress" (valueSetted)="setRegAddress($event, 'reg')" />
                            <rosa-control-error>укажите адрес регистрации как в паспорте</rosa-control-error>
                        </rosa-autocomplete-container>
                        <rosa-autocomplete #autocompleteAddress="rosaAutocomplete">
                            <ng-template rosaAutocompleteContent="rosaAutocompleteContent">
                                <ng-container *ngIf="(registryPlace$ | async) as result">
                                    <rosa-option *ngFor="let option of result" [value]="option">{{ option.value }}</rosa-option>
                                    <rosa-option class="no-result" *ngIf="!result.length">Не найдено</rosa-option>
                                </ng-container>
                            </ng-template>
                        </rosa-autocomplete>
                    </section>
                    <section class="form-group checkbox-form-group offset-bottom-5">
                        <rosa-checkbox-container>
                            <input type="checkbox" rosaCheckbox="rosaCheckbox" tabindex="0" [formControl]="rosaForm.controls['factAddressEquality']" id="factAddressEquality" name="factAddressEquality" />
                            <label for="factAddressEquality" value="{{localState?.forms?.application?.fields?.factAddressEquality?.caption}}" rosaCheckboxLabel="rosaCheckboxLabel"></label>
                        </rosa-checkbox-container>
                    </section>
                    <section class="form-group offset-bottom-5" *ngIf="!rosaForm.get('factAddressEquality').value">
                        <rosa-autocomplete-container>
                            <label for="factAddress">Фактический адрес</label>
                            <input type="text" id="factAddress" rosaInput [formControl]="rosaForm.controls['factAddress']" [rosaAutocomplete]="autocompleteFactAddress" (valueSetted)="setRegAddress($event, 'fact')" />
                            <rosa-control-error>укажите фактический адрес проживания</rosa-control-error>
                        </rosa-autocomplete-container>
                        <rosa-autocomplete #autocompleteFactAddress="rosaAutocomplete">
                            <ng-template rosaAutocompleteContent="rosaAutocompleteContent">
                                <ng-container *ngIf="(factPlace$ | async) as result">
                                    <rosa-option *ngFor="let option of result" [value]="option">{{ option.value }}</rosa-option>
                                    <rosa-option class="no-result" *ngIf="!result.length">Не найдено</rosa-option>
                                </ng-container>
                            </ng-template>
                        </rosa-autocomplete>
                    </section>
                    <div *ngIf="deliveryAvailable">
                        <section class="form-group offset-bottom-5">
                            <h3>Выберите способ получения карты</h3>
                        </section>
                        <section class="form-group offset-bottom-5">
                            <div class="radio-group_column">
                                <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="branch" formControlName="method" name="method" value="Branch" checked="checked" /><label for="branch">Получить в отделении</label></rosa-radio-container>
                                <rosa-radio-container><input type="radio" rosaRadio="rosaRadio" id="courier" formControlName="method" name="method" value="Courier" /><label for="courier">Доставить курьером</label></rosa-radio-container>
                            </div>
                        </section>
                    </div>
                    <section class="form-group offset-bottom-5">
                            <rosa-control-error *ngIf="!this.rosaForm.valid">Заполните все поля формы чтобы продолжить</rosa-control-error>
                    </section>
                    <section class="form-group offset-bottom-5">
                            <div class="disclaimer offset-bottom-5">Нажимая кнопку «Продолжить», я принимаю <a href="https://store.rosbank.ru/short-app-api/documents?type=ApplConsentED" target="_blank">Условия электронного документооборота с ПАО РОСБАНК</a> и заключаю с Банком соглашение об электронном документообороте</div>
                            <button type="button" rosaButton on-click="handleAndSendForm(rosaForm.get('method').value)">Продолжить</button>
                    </section>
                    <!--<section class="form-group offset-bottom-5"><span>{{rosaForm.value | json}}</span></section>-->
                    <!--<section class="form-group offset-bottom-5"><span>{{localState?.forms?.application?.fields | json}}</span></section>-->

                </form>
            </div>
        </div>
    </div>
</div>
