@import 'variables';
@import 'mixins';
.card-info {
    background-color: $color-gray-03;
}

.card-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.option {
    padding: 12px 0;
    margin-right: 40px;
    width: 200px;
    @include mobile {
        width: 100%;
        margin: 0;
    }
    .title {
        font-size: 24px;
        line-height: 1.4583;
        letter-spacing: .5px;
        font-weight: 500;
        margin-bottom: 3px;
    }
    .description {
        font-size: 14px;
        line-height: 1.5;
    }
}

.form-group-column {
    display: flex;
    justify-content: space-between;
    @include mobile {
        flex-wrap: wrap;
    }
}

.mobile-bottom-50 {
    @include mobile {
        margin-bottom: 50px;
    }
}

.disclaimer{
    color: #807d7d;
    margin-bottom: 40px;
    font-size: 12px;
    max-width: 610px;
}
.form-group-column-1 {
    min-width: 23%;
    margin-right: 10px;
    @include mobile {
        margin-right: 0;
        width: 100%;
    }
}

.form-group-column-2 {
    min-width: 42%;
    margin-right: 10px;
    //651
    @include tablet {
        width: auto;
    }
    @include mobile {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }
}

.choice-button {
    width: 100%;
    height: 100px;
    padding: 40px 25px 40px 40px;
    display: flex;
    justify-content: space-between;
    background-color: var( --color-asbestos);
    transition: all .3s linear;
    cursor: pointer;
    .title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .32px;
    }
    .arrow {
        fill: var(--color-blood);
        transition: all .3s linear;
    }
    &:hover {
        background-color: var(--color-blood);
        color: #FFF;
        .arrow {
            fill: var(--color-sterile);
        }
    }
}

.card-view {
    width: 31.25vw;
    height: 19.53125vw;
}

.card-view__mobile {
    @include display {
        width: 610px;
        height: 381.25px;
        margin-top: 49px;
        margin-bottom: 40px;
    }
    @include tablet {
        width: 610px;
        height: 381.25px;
        margin-top: 49px;
        margin-bottom: 40px;
    }
    @include mobile {
        width: 288px;
        height: 180px;
        margin-top: 35px;
        margin-bottom: 24px;
    }
}

.hide {
    display: none;
}

.form-errors{
    margin-top: 16px;
}

.pending-state{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#FFF;
    z-index: 1000;
}
.cardinfoloader{
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #f2f2f2 8%, #f8f8f8 18%, #f2f2f2 33%);
    background-size: 800px 104px;
    height: 538px;
    position: relative;
    @include tablet {
        height: 864px;
    }
    @include mobile {
        height: 733px;
    }
}

@keyframes placeHolderShimmer {
    0% {
      background-position: -298px 0
    }
    100% {
      background-position: 498px 0
    }
  }

.esia-auth{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mobile {
        display: block;
    }
}
.esia-control{
    @include mobile {
        margin-top: 25px;
    }
}
.esia-text__description{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.description__text{
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 1.3;
    color: $color-secondary;
}
.radio-form-group__label,
.checkbox-form-group__label {
    margin-bottom: 30px;
}

.link__external{
    font-size: 14px;
    line-height: 21px;
    color: #e60028;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    &:hover{
        transition: all .15s ease;
        border-bottom: 2px solid #e60028;
    }
}