<div class="rosa-modal">
    <div class="rosa-modal__content">
        <h3>Ознакомтесь чтобы продолжить</h3>
        <p>Заказывая услугу «Доставка дебетовой карты» вы&nbsp;подтверждаете что не&nbsp;обладаете следующим:</p>
        <div class="agreements">
            <ul class="rosa-list">
                <li>{{state?.forms?.checkoutDelivery?.fields?.residence?.caption}}</li>
                <li>{{state?.forms?.checkoutDelivery?.fields?.resPermit?.caption}}</li>
                <li>{{state?.forms?.checkoutDelivery?.fields?.pepStatus?.caption}}
                    <rosa-icon-help rosaPopup="{{state?.forms?.checkoutDelivery?.fields?.pepStatus?.tooltip}}"></rosa-icon-help>
                </li>
                <li>{{state?.forms?.checkoutDelivery?.fields?.pepRelations?.caption}}
                    <rosa-icon-help rosaPopup="{{state?.forms?.checkoutDelivery?.fields?.pepRelations?.tooltip}}"></rosa-icon-help>
                </li>
            </ul>
        </div>
        <div class="controls offset-top-5">
            <button type="button" rosaButton (click)="agree()">Далее</button>
            <button type="button" rosaButton="tertiary" (click)="close()">Отказаться</button>
        </div>
    </div>
</div>

