@import 'variables';
@import 'mixins';
.rosa-modal {
    width: 736px;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(40, 36, 35, .1);
    @include tablet {
        overflow: scroll;
        height: 100%;
    }
    @include phablet {
        overflow: scroll;
        height: 100%;
    }
    @include mobile {
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    &::-webkit-scrollbar {
        width: 0 !important;
        background: transparent;
        display: none;
    }
}

.rosa-modal__content {
    padding: 100px 100px 80px;
    @include phablet {}
    @include mobile {
        width: 100%;
        padding: 40px calc(0.05 * 100vw);
        height: 100%;
        margin: auto 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.agreements {
    margin-top: 20px;
}

rosa-icon-help {
    margin: 1px 0 0 10px;
}

.controls {
    display: flex;
    button {
        margin-right: 16px;
    }
}